
<section id="new-project" class="new-project js-about-bg" style="background-image: url(<?php echo IMGPATH ?>/services/call_action.jpg);background-size: cover;background-position: top;">
  <div class="container">
    <div class="new-project-details">
      <div class="row">
        <div class="offset-lg-1 col-lg-8 col-md-12">
          <div class="single-new-project">
            <h3>Get to know more about CREDAI Coimbatore</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div class="single-new-project"> <a href="<?php echo BASEPATH ?>contact"  class="slide-btn"> Contact Us</a> </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <footer class="js-footer-area dark-bg pb-50 pt-100 ">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="js-footer-widget mb-50">
            <h2 class="logo mb-3"><img src="<?php echo IMGPATH  ?>footer-logo.png" alt="logo"></h2>
            <p>CREDAI - Coimbatore is a registered body that represents the organized property development sector of Coimbatore city.</p>
          </div>
        </div>
        <div class="col-lg-2 col-sm-3">
          <div class="js-footer-widget mb-50">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="<?php echo BASEPATH ?>">Home</a> </li>
              <li><a href="<?php echo BASEPATH ?>about">About Us</a></li>
              <li><a href="<?php echo BASEPATH ?>vendors">Vendors</a></li>
              <li><a href="<?php echo BASEPATH ?>events">Events</a></li>
              <li><a href="<?php echo BASEPATH ?>news">News</a></li>
              <li><a href="<?php echo BASEPATH ?>contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
        
        <div class="col-lg-3  col-sm-3">
          <div class="js-footer-widget mb-50">
            <h4>About</h4>
            <ul>
                <li><a href="<?php echo BASEPATH ?>about/national">CREDAI National</a></li>
                <li><a href="<?php echo BASEPATH ?>about">CREDAI Coimbatore</a></li>
                <li><a href="<?php echo BASEPATH ?>about/membership">Why CREDAI</a></li>
                <li><a href="<?php echo BASEPATH ?>members">Committee Members</a></li>
                <li><a href="<?php echo BASEPATH ?>about/members-of-credai">Members of CREDAI </a></li>
                <li><a href="<?php echo BASEPATH ?>mou">MOU by CREDAI </a></li>
            </ul>
          </div>
        </div> 
        <div class="col-lg-3  col-sm-3">
          <div class="js-footer-widget mb-50">
              <img src="<?php echo IMGPATH ?>event/t18.jpeg" alt="Tree Plantation">
          </div>
        </div>
      </div>
      <div class="js-copyright">
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <p>   Copyright © <?php echo date("Y"); ?> CREDAI - Coimbatore </p>
          </div>
          <div class="col-lg-6 col-sm-6"> 
            <ul class="js-social-icon list-inline">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer> 

  <span class="scrolltop"><i class="pe-7s-angle-up"></i></span> 
  <script src="<?php echo JSPATH  ?>vendor/jquery-3.3.1.min.js"></script> 
  <script src="<?php echo JSPATH  ?>bootstrap.min.js"></script>
  <script src="<?php echo JSPATH  ?>owl.carousel.min.js"></script>
  <script src="<?php echo JSPATH  ?>jquery.magnific-popup.min.js"></script>
  <script src="<?php echo JSPATH  ?>plugins.js"></script> 
  <script src="<?php echo JSPATH  ?>menu.js"></script>
  <script src="<?php echo JSPATH  ?>jquery.nice-select.min.js"></script> 
  <script src="<?php echo JSPATH  ?>script.js"></script>  
  <script src="<?php echo JSPATH ?>validate.min.js"></script>
  <script src="<?php echo JSPATH  ?>user.js"></script>  


  <script type="text/javascript" src="<?php echo PLUGINS ?>multifile/jquery.filer.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#input2').filer({
        limit: 10,
        maxSize: 40,
        extensions: null,
        changeInput: '<div class="jFiler-input-dragDrop"><div class="jFiler-input-inner"><div class="jFiler-input-icon"><i class="icon-jfi-cloud-up-o"></i></div><div class="jFiler-input-text"><h3>Click Here to Upload Files</h3> <span style="display:inline-block; margin: 15px 0">or</span></div><a class="jFiler-input-choose-btn blue">Browse Files</a></div></div>',
        showThumbs: true,
        appendTo: null,
        theme: "dragdropbox",
        templates: {
            box: '<ul class="jFiler-item-list"></ul>',
            item: '<li class="jFiler-item">\
                                <div class="jFiler-item-container">\
                                    <div class="jFiler-item-inner">\
                                        <div class="jFiler-item-thumb">\
                                            <div class="jFiler-item-status"></div>\
                                            <div class="jFiler-item-info">\
                                                <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
                                            </div>\
                                            {{fi-image}}\
                                        </div>\
                                        <div class="jFiler-item-assets jFiler-row">\
                                            <ul class="list-inline pull-left">\
                                                <li>{{fi-progressBar}}</li>\
                                            </ul>\
                                            <ul class="list-inline pull-right">\
                                                <li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
                                            </ul>\
                                        </div>\
                                    </div>\
                                </div>\
                            </li>',
            itemAppend: '<li class="jFiler-item">\
                                <div class="jFiler-item-container">\
                                    <div class="jFiler-item-inner">\
                                        <div class="jFiler-item-thumb">\
                                            <div class="jFiler-item-status"></div>\
                                            <div class="jFiler-item-info">\
                                                <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
                                            </div>\
                                            {{fi-image}}\
                                        </div>\
                                        <div class="jFiler-item-assets jFiler-row">\
                                            <ul class="list-inline pull-left">\
                                                <span class="jFiler-item-others">{{fi-icon}} {{fi-size2}}</span>\
                                            </ul>\
                                            <ul class="list-inline pull-right">\
                                                <li><a data-name="{{fi-name}}" class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
                                            </ul>\
                                        </div>\
                                    </div>\
                                </div>\
                            </li>',
            progressBar: '<div class="bar"></div>',
            itemAppendToEnd: false,
            removeConfirmation: false,
            _selectors: {
                list: '.jFiler-item-list',
                item: '.jFiler-item',
                progressBar: '.bar',
                remove: '.jFiler-item-trash-action',
            }
        },
        addMore: true
    });
});
</script>

  <script> 
    $("select").each(function(){
      $('select').niceSelect();
    }); 
  </script>
  
</body>

</html>
