
  <header class="js-header-area sticky-on">    
    <div class="js-header-nav-area">    
      <div class="container">
        <div class="row flexbox-center"> 
          <div class="col-lg-2 col-md-2 col-sm-6">
            <div class="logo">
              <a class="logo-block" href="<?php echo BASEPATH ?>"><img src="<?php echo IMGPATH  ?>logo.png" alt="Credai logo"></a>
              <a class="logo-none" href="<?php echo BASEPATH ?>"><img src="<?php echo IMGPATH  ?>logo.png" alt="Credai logo"></a>
            </div>
          </div><!-- col-lg-4 -->                             
          <div class="col-lg-10 col-md-10 pl-0"> 
              <ul class="header_form">
                <li><a href="http://homes.credaicoimbatore.com/" target="_blank" class="btn btn-primary btn-sm">CREDAI Portal</a></li>
                 <li><a style="background:#D50C2C" href="http://fairprocoimbatore.com/" target="blank" class="btn btn-primary btn-sm">FAIRPRO</a></li>
                 
                <!-- <li><a href="<?php echo BASEPATH ?>register" class="btn btn-primary btn-sm">Member registration</a></li>
                <li><a href="<?php echo BASEPATH ?>complaints" class="btn btn-red btn-sm">Grievance</a></li> -->
              </ul>
          </div><!-- col-lg-7 --> 
        </div><!-- row -->
        <div class="row flexbox-center"> 
          <div class="col-lg-12 col-md-12 pl-0"> 
            <nav class="header-nav">
                <div class="cssmenu" data-title="Menu">  
                  <ul class="menu list-inline">
                      <li class="<?php echo $data['active_menu']=='home' ? active : '' ?>"><a href="<?php echo BASEPATH ?>">Home</a></li>
                      <li class="<?php echo $data['active_menu']=='about' ? active : '' ?>"><a style="cursor: auto;" href="#">About Us </a> 
                        <ul>
                          <li><a href="<?php echo BASEPATH ?>about/national">CREDAI National</a> </li>
                          <li> <a href="<?php echo BASEPATH ?>about">CREDAI Coimbatore</a> </li>
                          <li> <a href="<?php echo BASEPATH ?>about/membership">Why CREDAI</a> </li>
                          <li> <a href="<?php echo BASEPATH ?>members" style="line-height: 20px;">Committee Members of CREDAI Coimbatore</a> </li>
                          <li> <a href="<?php echo BASEPATH ?>about/members-of-credai">Members of CREDAI Coimbatore</a> </li>  
                          <li><a href="<?php echo BASEPATH ?>about/coimbatore">About Coimbatore </a>      
                        </ul>
                      </li>
                      <li class="<?php echo $data['active_menu']=='vendors' ? active : '' ?>"><a href="<?php echo BASEPATH ?>vendors">Preferred Vendors</a></li> 
                     <!--  <li class="<?php echo $data['active_menu']=='event' ? active : '' ?>"><a href="<?php echo BASEPATH ?>events">Events</a></li> -->
                      <li class="<?php echo $data['active_menu']=='news' ? active : '' ?>"><a href="<?php echo BASEPATH ?>news">News & Events</a></li> 
                      <li class="<?php echo $data['active_menu']=='insights' ? active : '' ?>"><a style="cursor: auto;" href="#">Insights </a> 
                        <ul>
                          <li><a href="<?php echo BASEPATH ?>mou">Partnership with CREDAI Coimbatore</a> </li>
                          <li> <a href="<?php echo BASEPATH ?>insights/go">Government Orders</a> </li>
                          <li> <a href="<?php echo BASEPATH ?>csr">CSR</a> </li> 
                          <li> <a href="<?php echo BASEPATH ?>treeplantation">Tree Plantation</a> </li>       
                        </ul>
                      </li>

                      <li class="<?php echo $data['active_menu']=='contact' ? active : '' ?>"><a href="<?php echo BASEPATH ?>contact">Contact Us </a> 
                        <ul>
                          <li><a href="<?php echo BASEPATH ?>complaints">CGRF</a> </li>
                          <li> <a href="<?php echo BASEPATH ?>register">New Member Registration</a> </li>  
                          <li> <a href="<?php echo BASEPATH ?>career">Career</a> </li>       
                        </ul>
                      </li>
                  </ul>
                </div><!-- #header-menu-wrap -->       
            </nav><!-- .header-nav -->
          </div><!-- col-lg-7 --> 
        </div><!-- row -->
      </div><!-- container --> 
    </div><!-- Header Close --> 
  </header><!-- Header Close --> 