<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge"> 
  <title><?php echo $data['meta_title'] ?></title>
  <meta name="description" content="<?php echo $data['meta_desc'] ?>">
     <meta name="keywords" content="<?php echo $data['keywoeds'] ?>">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-site-verification" content="M8-G6-tibSKtJQlPA2pp7uBWg6MDDW2psLEjZgocl6I" />
 
  <link rel="shortcut icon" type="image/png" href="<?php echo IMGPATH  ?>fev.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- animate -->
  <link rel="stylesheet" href="<?php echo CSSPATH  ?>animate.css">
  <!-- font-awesome -->
  <link rel="stylesheet" href="<?php echo CSSPATH  ?>font-awesome.min.css">
  <!-- pe-icon-7-stroke -->
  <link rel="stylesheet" href="<?php echo CSSPATH  ?>pe-icon-7-stroke.min.css">
  <!-- owl carousel -->
  <link rel="stylesheet" href="<?php echo CSSPATH  ?>owl.carousel.min.css">
  <!-- owl theme default -->
  <link rel="stylesheet" href="<?php echo CSSPATH  ?>owl.theme.default.min.css">
  <!-- magnific popup -->
  <link rel="stylesheet" href="<?php echo CSSPATH  ?>magnific-popup.css"> 
  <!-- bootstrap -->
  <link rel="stylesheet" href="<?php echo CSSPATH  ?>bootstrap.min.css"> 
  <link rel="stylesheet" href="<?php echo CSSPATH  ?>swiper.html">
  <!-- menu -->
  <link rel="stylesheet" href="<?php echo CSSPATH  ?>menu.css">
  <!-- main -->
  <link rel="stylesheet" href="<?php echo CSSPATH  ?>style.css">
  <!-- responsive -->
  <link rel="stylesheet" href="<?php echo CSSPATH  ?>responsive.css">
  <!-- default -->
  <link rel="stylesheet" href="<?php echo CSSPATH  ?>default.css">
  <!-- color -->
  <link rel="stylesheet" href="<?php echo CSSPATH  ?>color.css">

  <link href="<?php echo PLUGINS ?>multifile/jquery.filer.css" type="text/css" rel="stylesheet" />
  <link href="<?php echo PLUGINS ?>multifile/themes/jquery.filer-dragdropbox-theme.css" type="text/css" rel="stylesheet" />
  
</head>

<script type="text/javascript">
    var base_path = "<?php echo BASEPATH ?>";
    var IMGPATH = "<?php echo IMGPATH ?>";
</script>