			<footer class="footer text-right">
                <?php echo COMPANY_NAME ?> &copy; <?php echo date("Y") ?>.
            </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- /Right-bar -->
    </div>
    <!-- END wrapper -->
    <script>
    var resizefunc = [];
    </script>
    <!-- jQuery  -->
    <script src="<?php echo JSPATH ?>jquery.min.js"></script>
    <script src="<?php echo JSPATH ?>bootstrap.min.js"></script>
    <script src="<?php echo JSPATH ?>detect.js"></script>
    <script src="<?php echo JSPATH ?>fastclick.js"></script>
    <script src="<?php echo JSPATH ?>jquery.slimscroll.js"></script>
    <script src="<?php echo JSPATH ?>jquery.blockUI.js"></script>
    <script src="<?php echo JSPATH ?>waves.js"></script>
    <script src="<?php echo JSPATH ?>wow.min.js"></script>
    <script src="<?php echo JSPATH ?>jquery.nicescroll.js"></script>
    <script src="<?php echo JSPATH ?>jquery.scrollTo.min.js"></script>
    <script src="<?php echo PLUGINS ?>peity/jquery.peity.min.js"></script>
    <!-- jQuery  -->
    <script src="<?php echo PLUGINS ?>waypoints/lib/jquery.waypoints.js"></script>
    <script src="<?php echo PLUGINS ?>counterup/jquery.counterup.min.js"></script>
    <script src="<?php echo PLUGINS ?>morris/morris.min.js"></script>
    <script src="<?php echo PLUGINS ?>raphael/raphael-min.js"></script>
    <script src="<?php echo PLUGINS ?>jquery-knob/jquery.knob.js"></script>
   
    <script src="<?php echo JSPATH ?>jquery.core.js"></script>
    <script src="<?php echo JSPATH ?>jquery.app.js"></script>
    <script src="<?php echo PLUGINS ?>sweetalert/dist/sweetalert.min.js"></script>
    <script src="<?php echo JSPATH ?>validate.min.js"></script>
     <script src="<?php echo PLUGINS ?>summernote/dist/summernote.min.js"></script>
      <script type="text/javascript" src="<?php echo PLUGINS ?>fileupload/bootstrap-fileupload.js"></script>
    <script src="<?php echo JSPATH ?>user.js"></script>




      <script src="<?php echo PLUGINS ?>bootstrap-select/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
    <!-- Alert  -->
    <script src="<?php echo PLUGINS ?>sweetalert/dist/sweetalert.min.js"></script>
      <script src="<?php echo PLUGINS ?>datatables/jquery.dataTables.min.js"></script>
            <script src="<?php echo PLUGINS ?>datatables/dataTables.bootstrap.js"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#datatable').dataTable(); 
                });
            </script>
               <script>

            jQuery(document).ready(function(){

                $('.summernote').summernote({
                    height: 350,                 // set editor height
                    minHeight: null,             // set minimum height of editor
                    maxHeight: null,             // set maximum height of editor
                    focus: false                 // set focus to editable area after initializing summernote
                });
                
                $('.inline-editor').summernote({
                    airMode: true            
                });

            });
             </script>

             <script src="<?php echo PLUGINS ?>bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
            <script type="text/javascript">
                jQuery(document).ready(function() {
                     jQuery('.datepicker').datepicker({
                        autoclose: true,
                        todayHighlight: true,
                        format : "dd/mm/yyyy"
                    });
                });
            </script>

    <?php if (isset($data['scripts'])) { ?>


        <?php if($data['scripts'] == 'csr') { ?>
        <script type="text/javascript" src="<?php echo PLUGINS ?>bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="<?php echo PLUGINS ?>multifile/jquery.filer.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#input2').filer({
                    limit: 10,
                    maxSize: 40,
                    extensions: null,
                    changeInput: '<div class="jFiler-input-dragDrop"><div class="jFiler-input-inner"><div class="jFiler-input-icon"><i class="icon-jfi-cloud-up-o"></i></div><div class="jFiler-input-text"><h3>Click Here to Upload Images</h3> <span style="display:inline-block; margin: 15px 0">or</span></div><a class="jFiler-input-choose-btn blue">Browse Files</a></div></div>',
                    showThumbs: true,
                    appendTo: null,
                    theme: "dragdropbox",
                    templates: {
                        box: '<ul class="jFiler-item-list"></ul>',
                        item: '<li class="jFiler-item">\
                                                    <div class="jFiler-item-container">\
                                                        <div class="jFiler-item-inner">\
                                                            <div class="jFiler-item-thumb">\
                                                                <div class="jFiler-item-status"></div>\
                                                                <div class="jFiler-item-info">\
                                                                    <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
                                                                </div>\
                                                                {{fi-image}}\
                                                            </div>\
                                                            <div class="jFiler-item-assets jFiler-row">\
                                                                <ul class="list-inline pull-left">\
                                                                    <li>{{fi-progressBar}}</li>\
                                                                </ul>\
                                                                <ul class="list-inline pull-right">\
                                                                    <li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
                                                                </ul>\
                                                            </div>\
                                                        </div>\
                                                    </div>\
                                                </li>',
                        itemAppend: '<li class="jFiler-item">\
                                                    <div class="jFiler-item-container">\
                                                        <div class="jFiler-item-inner">\
                                                            <div class="jFiler-item-thumb">\
                                                                <div class="jFiler-item-status"></div>\
                                                                <div class="jFiler-item-info">\
                                                                    <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
                                                                </div>\
                                                                {{fi-image}}\
                                                            </div>\
                                                            <div class="jFiler-item-assets jFiler-row">\
                                                                <ul class="list-inline pull-left">\
                                                                    <span class="jFiler-item-others">{{fi-icon}} {{fi-size2}}</span>\
                                                                </ul>\
                                                                <ul class="list-inline pull-right">\
                                                                    <li><a data-name="{{fi-name}}" class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
                                                                </ul>\
                                                            </div>\
                                                        </div>\
                                                    </div>\
                                                </li>',
                        progressBar: '<div class="bar"></div>',
                        itemAppendToEnd: false,
                        removeConfirmation: false,
                        _selectors: {
                            list: '.jFiler-item-list',
                            item: '.jFiler-item',
                            progressBar: '.bar',
                            remove: '.jFiler-item-trash-action',
                        }
                    },
                    addMore: true
                });
            });
        </script>
        <script src="<?php echo JSPATH ?>bootstrap.min.js"></script>
        <script src="<?php echo PLUGINS ?>isotope/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="<?php echo JSPATH ?>masonry-docs.min.js"></script>
        <script type="text/javascript">
            $(window).load(function() {
                $('#masonry').masonry({
                    itemSelector: '.col-masonry'
                });
            });

            function masonryInt() {
                $('#masonry').masonry({
                    itemSelector: '.col-masonry'
                });
            }
        </script>
        <?php } ?>

        <?php if($data['scripts'] == 'tree') { ?>
        <script type="text/javascript" src="<?php echo PLUGINS ?>bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="<?php echo PLUGINS ?>multifile/jquery.filer.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#input2').filer({
                    limit: 10,
                    maxSize: 40,
                    extensions: null,
                    changeInput: '<div class="jFiler-input-dragDrop"><div class="jFiler-input-inner"><div class="jFiler-input-icon"><i class="icon-jfi-cloud-up-o"></i></div><div class="jFiler-input-text"><h3>Click Here to Upload Images</h3> <span style="display:inline-block; margin: 15px 0">or</span></div><a class="jFiler-input-choose-btn blue">Browse Files</a></div></div>',
                    showThumbs: true,
                    appendTo: null,
                    theme: "dragdropbox",
                    templates: {
                        box: '<ul class="jFiler-item-list"></ul>',
                        item: '<li class="jFiler-item">\
                                                    <div class="jFiler-item-container">\
                                                        <div class="jFiler-item-inner">\
                                                            <div class="jFiler-item-thumb">\
                                                                <div class="jFiler-item-status"></div>\
                                                                <div class="jFiler-item-info">\
                                                                    <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
                                                                </div>\
                                                                {{fi-image}}\
                                                            </div>\
                                                            <div class="jFiler-item-assets jFiler-row">\
                                                                <ul class="list-inline pull-left">\
                                                                    <li>{{fi-progressBar}}</li>\
                                                                </ul>\
                                                                <ul class="list-inline pull-right">\
                                                                    <li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
                                                                </ul>\
                                                            </div>\
                                                        </div>\
                                                    </div>\
                                                </li>',
                        itemAppend: '<li class="jFiler-item">\
                                                    <div class="jFiler-item-container">\
                                                        <div class="jFiler-item-inner">\
                                                            <div class="jFiler-item-thumb">\
                                                                <div class="jFiler-item-status"></div>\
                                                                <div class="jFiler-item-info">\
                                                                    <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
                                                                </div>\
                                                                {{fi-image}}\
                                                            </div>\
                                                            <div class="jFiler-item-assets jFiler-row">\
                                                                <ul class="list-inline pull-left">\
                                                                    <span class="jFiler-item-others">{{fi-icon}} {{fi-size2}}</span>\
                                                                </ul>\
                                                                <ul class="list-inline pull-right">\
                                                                    <li><a data-name="{{fi-name}}" class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
                                                                </ul>\
                                                            </div>\
                                                        </div>\
                                                    </div>\
                                                </li>',
                        progressBar: '<div class="bar"></div>',
                        itemAppendToEnd: false,
                        removeConfirmation: false,
                        _selectors: {
                            list: '.jFiler-item-list',
                            item: '.jFiler-item',
                            progressBar: '.bar',
                            remove: '.jFiler-item-trash-action',
                        }
                    },
                    addMore: true
                });
            });
        </script>
        <script src="<?php echo JSPATH ?>bootstrap.min.js"></script>
        <script src="<?php echo PLUGINS ?>isotope/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="<?php echo JSPATH ?>masonry-docs.min.js"></script>
        <script type="text/javascript">
            $(window).load(function() {
                $('#masonry').masonry({
                    itemSelector: '.col-masonry'
                });
            });

            function masonryInt() {
                $('#masonry').masonry({
                    itemSelector: '.col-masonry'
                });
            }
        </script>
        <?php } ?>

       
	<?php } ?> 

</body>

</html>