<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a href="<?php echo COREPATH ?>" class="logo"><img id="main_logo" src="<?php echo ASSETS_PATH ?>logo.png"> <img id="mobile_logo" class="no_display" src="<?php echo ASSETS_PATH ?>logo1.png"></a>
        </div>
    </div>
    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button class="button-menu-mobile open-left" id="mobile_logo_wrap">
                        <i class="ion-navicon"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="navbar-c-items headr_notification">
                        <a href="<?php echo COREPATH ?>notification">
                            <i class="icon-bell"></i> </span></a>
                    </li>
                    <li class="hidden-xs">
                        <a href="#" id="btn-fullscreen" class="waves-effect"><i class="icon-size-fullscreen"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle profile waves-effect" data-toggle="dropdown" aria-expanded="true"><img src="<?php echo IMGPATH ?>no_img.png" alt="user-img" class="img-circle"> <?php echo $data['user']['username'] ?></a>
                        <ul class="dropdown-menu">
                            <li><a href="<?php echo COREPATH ?>profile/edit/"><i class="ti-user m-r-5"></i> Profile</a></li>
                            <li><a href="<?php echo COREPATH ?>profile"><i class="ti-settings m-r-5"></i> Change Password</a></li>
                            <li><a href="<?php echo COREPATH ?>home/logout"><i class="ti-power-off m-r-5"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
