<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gowtham">
    <meta name="author" content="Credai Coimbatore">
    <link rel="shortcut icon" href="<?php echo IMGPATH ?>favicon-1.ico">
    <title><?php echo $data['meta_title'] ?></title>
    <!--Morris Chart CSS -->
    <link href="<?php echo PLUGINS ?>sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="<?php echo PLUGINS ?>morris/morris.css">
    <link href="<?php echo CSSPATH ?>bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo CSSPATH ?>core.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo CSSPATH ?>components.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo CSSPATH ?>icons.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo CSSPATH ?>pages.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo CSSPATH ?>responsive.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo CSSPATH ?>user.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo CSSPATH ?>approval.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PLUGINS ?>datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script src="<?php echo JSPATH ?>modernizr.min.js"></script>
    <link href="<?php echo PLUGINS ?>summernote/dist/summernote.css" rel="stylesheet" />
    <link href="<?php echo PLUGINS ?>bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="<?php echo PLUGINS ?>bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script type="text/javascript">
        var core_path = "<?php echo COREPATH ?>";
    </script>

    <?php if (isset($data['scripts'])) { ?>


        <?php if($data['scripts'] == 'csr') { ?>
            <link href="<?php echo PLUGINS ?>multifile/jquery.filer.css" type="text/css" rel="stylesheet" />
            <link href="<?php echo PLUGINS ?>multifile/themes/jquery.filer-dragdropbox-theme.css" type="text/css" rel="stylesheet" />
        <?php } ?>

        <?php if($data['scripts'] == 'tree') { ?>
            <link href="<?php echo PLUGINS ?>multifile/jquery.filer.css" type="text/css" rel="stylesheet" />
            <link href="<?php echo PLUGINS ?>multifile/themes/jquery.filer-dragdropbox-theme.css" type="text/css" rel="stylesheet" />
        <?php } ?>

      
    <?php } ?>
</head>