<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a href="<?php echo COREPATH ?>" class="waves-effect waves-light <?php echo (($data['active_menu']=='home') ? 'active' : '' ); ?>"><i class="ti-home"></i> <span> Dashboard </span> </a>
                </li>
                <li class="has_sub">
                    <a href="#" class="waves-effect waves-light <?php echo (($data['active_menu']=='content' || $data['active_menu']=='add_content') ? 'active' : '' ); ?>"><i class=" fa fa-th-list"></i> <span> Content </span> </a>
                    <ul class="list-unstyled">
                        <li class="<?php echo (($data['active_menu']=='add_blog') ? 'active' : '' ); ?>">
                            <a href="<?php echo COREPATH ?>content/add"> Add Content</a>
                        </li>
                        <li class="<?php echo (($data['active_menu']=='content') ? 'active' : '' ); ?>">
                            <a href="<?php echo COREPATH ?>content"> Manage Content </a>
                        </li>  
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="#" class="waves-effect waves-light <?php echo (($data['active_menu']=='events' || $data['active_menu']=='add_events' || $data['active_menu']=='category') ? 'active' : '' ); ?>"><i class=" fa fa-calendar"></i> <span> Events </span> </a>
                    <ul class="list-unstyled">
                        <li class="<?php echo (($data['active_menu']=='add_events') ? 'active' : '' ); ?>">
                            <a href="<?php echo COREPATH ?>events/add"> Add Events </a>
                        </li>
                        <li class="<?php echo (($data['active_menu']=='events') ? 'active' : '' ); ?>">
                            <a href="<?php echo COREPATH ?>events"> Manag Events </a>
                        </li>           
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="#" class="waves-effect waves-light <?php echo ($data['active_menu']=='logo' || $data['active_menu']=='add_logo' ? 'active' : '' ); ?>"><i class=" fa fa-image"></i> <span> Logo </span> </a>
                    <ul class="list-unstyled">
                        <li class="<?php echo (($data['active_menu']=='add_logo') ? 'active' : '' ); ?>">
                            <a href="<?php echo COREPATH ?>logo/add"> Add Logo </a>
                        </li>
                        <li class="<?php echo (($data['active_menu']=='logo') ? 'active' : '' ); ?>">
                            <a href="<?php echo COREPATH ?>logo"> Manage Logo </a>
                        </li>           
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect waves-light <?php echo ($data['active_menu']=='partners' || $data['active_menu']=='add_partners' ? 'active' : '' ); ?>"><i class=" fa fa-user"></i> <span> Partners </span> </a>
                    <ul class="list-unstyled">
                        <li class="<?php echo (($data['active_menu']=='add_partners') ? 'active' : '' ); ?>">
                            <a href="<?php echo COREPATH ?>partners/add"> Add Partner </a>
                        </li>
                        <li class="<?php echo (($data['active_menu']=='partners') ? 'active' : '' ); ?>">
                            <a href="<?php echo COREPATH ?>partners"> Manage Partners </a>
                        </li>           
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="#" class="waves-effect waves-light <?php echo ($data['active_menu']=='csr' || $data['active_menu']=='add_csr' ? 'active' : '' ); ?>"><i class=" fa fa-th-list"></i> <span> CSR </span> </a>
                    <ul class="list-unstyled">
                        <li class="<?php echo (($data['active_menu']=='add_csr') ? 'active' : '' ); ?>">
                            <a href="<?php echo COREPATH ?>csr/add"> Add CSR </a>
                        </li>
                        <li class="<?php echo (($data['active_menu']=='csr') ? 'active' : '' ); ?>">
                            <a href="<?php echo COREPATH ?>csr"> Manage CSR </a>
                        </li>           
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="#" class="waves-effect waves-light <?php echo ($data['active_menu']=='tree' || $data['active_menu']=='add_tree' ? 'active' : '' ); ?>"><i class=" fa fa-flag"></i> <span> TREE </span> </a>
                    <ul class="list-unstyled">
                        <li class="<?php echo (($data['active_menu']=='add_tree') ? 'active' : '' ); ?>">
                            <a href="<?php echo COREPATH ?>tree/add"> Add TREE </a>
                        </li>
                        <li class="<?php echo (($data['active_menu']=='tree') ? 'active' : '' ); ?>">
                            <a href="<?php echo COREPATH ?>tree"> Manage TREE </a>
                        </li>           
                    </ul>
                </li>

                <li>
                    <a href="<?php echo COREPATH ?>contact" class="waves-effect waves-light <?php echo (($data['active_menu']=='contact') ? 'active' : '' ); ?>"><i class="fa fa-phone"></i> <span> Contact </span> </a>
                </li>
                <li>
                    <a href="<?php echo COREPATH ?>contact/career" class="waves-effect waves-light <?php echo (($data['active_menu']=='Career') ? 'active' : '' ); ?>"><i class="fa fa-file"></i> <span> Career </span> </a>
                </li>
                 <li>
                    <a href="<?php echo COREPATH ?>contact/cgrf" class="waves-effect waves-light <?php echo (($data['active_menu']=='cgrf') ? 'active' : '' ); ?>"><i class="fa fa-question-circle"></i> <span> CGRF </span> </a>
                </li>
                 <li>
                    <a href="<?php echo COREPATH ?>contact/registration" class="waves-effect waves-light <?php echo (($data['active_menu']=='registration') ? 'active' : '' ); ?>"><i class="fa fa-users"></i> <span> Member Registration </span> </a>
                </li>
            </ul>
        </div>
    </div>  
</div>
