/*----------------------------------------------
            Approvals Design
------------------------------------------------*/

.text_center{
    text-align: center;
}

@media (min-width:768px) {
    .form-horizontal.approval .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: left
    }
}

.btm_10{
    margin-bottom: 10px !important;
}

.approvals_heading{
    background: #ddd;
    padding: 10px 0 0 0;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}

.approvals_heading p{
    text-align: center; 
}    

.cost_implication {
    margin-bottom: 10px;
}

textarea.time_implication.form-control {
    min-height: 140px;
}