/*========================
    General
========================*/

en {
    color: red;
}

.no_display {
    display: none;
}

.label-left {
    text-align: left !important;
    margin-left: 10px;
}

.help-text {
    font-size: 12px;
    opacity: 0.8;
    margin-top: 5px;
}

.close_btn {
    float: right;
    margin-top: -24px;
}

#map {
    width: 100%;
    height: 350px;
    background-color: #CCC;
}

.form-box-title {
    font-size: 17px;
    font-weight: bold;
    color: inherit;
    margin: 0 0 10px 0;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.form-box-title i {
    color: #5fbeaa;
    margin-right: 10px;
    font-size: 18px;
}

.form-box-add {
    position: absolute;
    top: 11px;
    right: 19px;
}

.form-error {
    color: red;
    padding: 2px 0;
}



.add-btn-wrap {
    float: right;
    margin: 0 0 20px 0;
}

.hint_msg {
    font-size: 11px;
    color: #369;
    cursor: pointer;
    display: inline-block;
    border-bottom: 1px dotted #fff;
}

.hint_msg:hover {
    border-bottom: 1px dotted #369;
}

.logo img {
    width: 85px;
    padding: 5px;
}
}

.mom_wrap {
    margin-left: 25%;
}

.search_results {
    background-color: #ffffff;
    margin: 0 0 20px 0px;
    padding: 10px;
}

.search_results h3 {
    margin: 4px 0 0 0;
    font-size: 18px;
}

.close_menu {
    float: right;
    margin-bottom: 10px;
}

.add_checklist_wrap {
    background: #fff;
    padding: 5px 20px;
    margin-bottom: 10px;
}

.add_checklist_wrap h2 {
    font-size: 20px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
}

.checklist_attachment{
    padding: 0 20px;
}
/*
========================
  Product Image
========================
*/

.product_image_list_wrap h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.product_image_list_wrap h3 {
    font-size: 14px;
    margin: 0 0 5px 0;
}

.image_list {
    padding: 0;
    margin: 5px 0;
}

.image_list li {
    list-style-type: none;
    display: inline-block;
    width: auto;
    margin: 5px;
}

.image_list li .product_image_item {
    position: relative;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.image_list li .product_image_item img {
    width: 150px;
    border: 1px solid #ddd;
}

.image_list li .product_image_item p {
    margin: 0;
    line-height: 15px;
    padding: 0;
    text-align: right;
    padding: 10px 0 0 0;
}

.image_list li .product_image_item p > a {
    background: #fff;
}

.image_list li .product_image_item p > a:hover {
    color: #fc4a52;
}

.image_list li .product_image_item p > a >i {
    font-size: 1.2em;
}


/*=====================
    File Upload
=======================*/

.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    transform: translate(-300px, 0) scale(4);
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileupload {
    padding-left: 0;
    margin-bottom: 20px;
}

.fileupload h4 {
    margin: 0 0 10px;
}

.fileupload .fileupload-preview + div {
    display: inline-block;
    margin-left: 10px;
}

.fileupload .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
}

.fileupload .thumbnail > img {
    display: block;
    max-height: 100%;
    vertical-align: middle;
}

.fileupload .thumbnail.fileupload-small {
    width: 50px;
    height: 50px;
}

.fileupload .thumbnail.fileupload-small.flexible {
    width: auto;
    height: auto;
    max-width: 75px;
    max-height: 75px;
}

.fileupload .thumbnail.fileupload-large {
    width: 160px;
    height: 160px;
    border: 1px solid #ddd;
    padding: 2px;
}

.fileupload .thumbnail.fileupload-large.flexible {
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 250px;
}

.fileupload .thumbnail + .btn {
    margin-bottom: 5px;
}

.fileupload .thumbnail + .btn + .btn {
    margin-bottom: 5px;
}

.fileupload .btn {
    vertical-align: middle;
}

.fileupload .form-control {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text;
}

.fileupload .raw.thumbnail {
    border: none;
    border-radius: 0;
    padding: 0;
}

.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
    display: none;
}

.fileupload-new .input-group-addon .btn-file {
    border-radius: 0 4px 4px 0;
}

.fileupload-exists .input-group-addon .btn-file {
    border-radius: 0;
}

.agenda_details_wrap {
    padding: 20px;
}

.agenda_details_wrap p {}

.agenda_details_wrap h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}


/*========================
    Page Loading 
========================*/

.page_loading {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    top: 0px;
    /*
background: rgba(95, 190, 170,0.5);
background: rgba(255, 255, 255,0.7);
background: rgba(168, 183, 199,0.7);
background: rgba(0, 0, 0,0.7);*/
    background: rgba(46, 60, 84, 0.6);
    display: none;
}

.overlay {
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.loading_image {
    background: rgba(255, 255, 255, 1);
    width: 250px;
    height: 250px;
    position: fixed;
    top: 33%;
    left: 41%;
    z-index: 11;
    border-radius: 20px;
}

.load_img {
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
}

.load_img img {
    width: auto;
    overflow: hidden;
    margin: 45px auto 0 auto;
}

.load_text {
    text-align: center;
    margin: 0px 0 18px 0;
    font-size: 18px;
    position: absolute;
    font-weight: bold;
    bottom: 10px;
    width: 100%;
}

@media (max-width: 748px) {
    .loading_image {
        background: #FFF;
        width: 180px;
        height: 180px;
        position: fixed;
        top: 33%;
        left: 27%;
        z-index: 11;
        border-radius: 10px;
    }
    .load_img img {
        width: 55%;
        overflow: hidden;
        margin: 25px auto 0 auto;
    }
    .load_text {
        text-align: center;
        margin-top: 0px;
        font-size: 14px;
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .logo img {
        width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    .mom_wrap {
        margin-left: 12%;
    }
}

@media only screen and (max-width: 768px) {
    .items li {
        width: 100% !important;
    }
}

.text_center {
    text-align: center;
}

.thick {
    font-weight: bold;
}


/*========================
    Form Footer Fixed
========================*/

.form_submit_footer {
    background: url(../images/blurredbg.png);
    background-size: 100%;
    padding: 15px 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    border-top: 1px solid #e7e7e7;
}

.form_submit_footer .form_footer_contents {}


/*========================
    Login Pge
========================*/

.login_wrap p {
    text-align: center;
}

.login_wrap p img {
    width: 220px;
    margin: 0;
}


/*-------- project list -------*/

.project_dashboard {
    /* padding: 10px 0 0 20px;*/
    position: relative;
    line-height: normal;
    vertical-align: top;
    border-bottom: 0;
}

.project_dashboard .title {
    font-size: 20px;
    color: #3a4352;
    font-weight: bold;
    line-height: 36px;
    padding: 1px 0 0 9px;
}

.project_dashboard .recent_projects {
    margin-bottom: 30px;
}

.project_dashboard .project {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 20px 15px 0;
    padding: 20px 20px 20px;
    background-color: #fff;
    height: 242px;
    width: 100%;
    float: left;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 1, 0.05);
    cursor: pointer;
}

.project_dashboard .project .card_color {
    position: absolute;
    top: -3px;
    left: -1px;
    right: 0;
    width: 100%;
    height: 3px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px 2px 0 0;
}

.project_dashboard .project .project_header {
    height: 85px;
}

.project_dashboard .project .project_name {
    display: block;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 10px 0px 10px;
}

.project_dashboard .project .project_desc {
    font-size: 13px;
    color: #7a7a7a;
    position: relative;
    margin-bottom: 22px;
    padding: 10px 10px 0px 10px;
    min-height: 1.4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project_dashboard .project_apps {
    padding: 0px 10px;
    margin-bottom: 30px;
}

.project_dashboard .app_link {
    display: block;
    float: left;
    line-height: 16px;
    border-radius: 3px;
    padding: 7px;
    margin-right: 4px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 -2px 0 0 rgba(0, 0, 0, 0.05) inset;
}

.project_dashboard .app_link span {
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 17px;
    text-align: center;
}

.project_dashboard .project_users {
    width: 100%;
    padding: 10px;
}

.project_dashboard .project_users h2 {
    font-size: 16px;
    width: 38%;
    margin: 0;
    line-height: 25px;
    float: left;
}

.project_dashboard .project_users h3 {
    width: 62%;
    font-size: 14px;
    margin: 0;
    float: right;
    line-height: 25px;
}

.view_page_title {
    font-size: 20px;
    line-height: 25px;
}


/*----------------------------------------------
            Checklist Design
------------------------------------------------*/

.checklist_wrap {
    background: #fff;
    padding-top: 0px;
}

.checklist_header {
    padding: 20px;
}

.checklist_header h3 {
    font-size: 16px;
    padding-bottom: 5px;
}

.checklist_header h3 strong {
    font-size: 18px;
}

.checklist_header ul {
    padding: 0;
}

.checklist_header ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 0px 0 20px;
}

.checklist_header ul li.title {
    font-size: 15px;
    font-weight: 600;
}

.checklist_header ul li.desc {
    font-size: 14px;
}

.checklist_header p {
    padding: 20px 0 10px 0px;
}

.checklist_body {}

.checklist_body ul {
    padding: 0;
}

.checklist_body ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 50px 15px 20px;
}

.checklist_body ul.head li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 49px 15px 20px;
    font-weight: bold;
}

.checklist_body ul.group {
    background: #ddd;
    padding: 10px 0 0 0;
    color: #000;
    font-weight: bold;
}

.checklist_body ul.items li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 5px 15px 46px;
    vertical-align: middle;
}

.custom_control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.view_cheklist_header p {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
}

.view_cheklist_header span {
    padding-left: 20px;
    padding-right: 20px;
}

.answer_person_wrap {
    margin-top: 20px;
}

.view_cheklist_header h2 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    font-weight: 600;
    margin: 15px 0;
}

.view_cheklist_header p span {
    font-weight: normal !important;
}


/*========================================
        responsive table
===========================================*/


/*
.rwd-table {
    margin: 1em 0;
    min-width: 300px;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    padding-top: .5em;
}

.rwd-table td:last-child {
    padding-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

@media (min-width: 480px) {
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }
}

body {
    padding: 0 2em;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #eee;
}

h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495E;
}

.rwd-table {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}

.rwd-table tr {
    border-color: #46637f;
}

.rwd-table th,
.rwd-table td {
    margin: .5em 1em;
}

@media (min-width: 480px) {
    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}

.rwd-table th,
.rwd-table td:before {
    color: #dd5;
}
*/


/*-------- Item Table ---------*/

.table_wrap {
    background: #fff;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

.table_wrap.no_shadow {
    box-shadow: none;
}

.table_wrap .table {
    margin-bottom: 0px;
}

.table_wrap .table_item > thead > tr > th {
    vertical-align: middle;
    background: #394857;
    border-bottom: 2px solid transparent;
    height: 50px;
    color: #fff;
}

.table_wrap .table_item > tbody > tr > td {
    vertical-align: middle;
}

.table_wrap .table_item > tbody > tr:hover {
    /*box-shadow: 5px 2px 15px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 8px 15px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 8px 15px 0 rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0px 8px 15px 0 rgba(0, 0, 0, 0.12);*/
    /* box-shadow: -5px 0px 10px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -5px 0px 10px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -5px 0px 10px 0 rgba(0, 0, 0, 0.25);
    -ms-box-shadow: -5px 0px 10px 0 rgba(0, 0, 0, 0.25);*/
    background: rgba(0, 0, 0, 0.01);
    cursor: pointer;
}

.table_wrap .table_item > tbody > tr.expired > td {
    background: rgba(255, 244, 182, 0.7);
    opacity: 0.95;
}

.table_wrap .table_item > tbody > tr > td > a.link {
    color: #0279c1;
    font-weight: bold;
    border-bottom: 1px dotted #0279c1;
}

.table_wrap .table_item > tbody > tr > td > a.link:hover {
    text-decoration: none;
    color: #ea9706;
    border-bottom: 1px dotted #ea9706;
}

.table_wrap .table_item > tbody > tr > td > h2 {
    margin: 0 0 5px 0;
    font-size: 14px;
    line-height: 23px;
    text-transform: capitalize;
    font-weight: bold;
}

.table_wrap .table_item > tbody > tr > td > h2 i {
    color: #fc4a52;
}

.table_wrap .table_item > tbody > tr > td > p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    text-transform: none;
}

.table_wrap .table_item > tbody > tr > td > p >i {
    color: #ddd;
}

.block {
    float: left;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    background: #FFF;
    border: 1px solid #DBE0E4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.block h2 {
    font-size: 18px;
}


/*----------------------------------------------
             Cube Test Report
------------------------------------------------*/

.cube_test_details_wrap a {
    margin-top: 20px;
}

.cube_test_details_wrap h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0px;
    text-align: left;
    padding: 0 20px;
}

.cube_test_details_wrap h3 {
    font-size: 18px;
    margin: 0;
    text-align: left;
    padding: 0 20px;
}

.cube_test_details_wrap p {
    padding: 0 20px;
    text-align: left;
}


/*------------------------------------------------------
                Notification
--------------------------------------------------------*/

.notification_wrap {
    background: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
}

.notification_wrap .date {
    display: table-cell;
    min-width: 120px;
    padding: 15px 5px;
    text-align: center;
    border-right: 1px solid #e7e7e7;
}

.notification_wrap .date h2 {
    font-size: 18px;
    margin: 0;
    line-height: 25px;
    font-weight: bold;
}

.notification_wrap .date h3 {
    font-size: 15px;
    margin: 0;
}

.notification_wrap .content {
    display: table-cell;
    padding: 15px;
    width: 100%;
    position: relative;
}

.notification_wrap .content p {
    font-size: 14px;
    word-spacing: 2px;
    margin: 5px 0 0 0;
}

.notification_wrap .content p span {
    font-weight: bold;
    color: #23c681;
}

.notification_wrap .content a {
    background: #23c681;
    padding: 5px 15px;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    bottom: 10px;
    color: #ffffff;
}


/*-----------------------------
        Ans Checklist
---------------------------------*/

.checklist_header_wrap {
    padding-left: 15px;
    margin-bottom: 30px;
}

.checklist_header_wrap .table th,
td {
    vertical-align: middle !important;
}


/*----------------------------------------
            Print Wrap
------------------------------------------*/

.print_checklist_wrap {
    position: relative;
}

.print_checklist_wrap .header {
    width: 100%;
    border: 2px solid #484848;
}

.print_checklist_wrap table.header td {
    padding-left: 5px;
}

.print_checklist_wrap .details {
    width: 100%;
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
    border-left: 2px solid #484848;
}

.print_checklist_wrap table.details td {
    /*padding-left: 5px;*/
}

.print_checklist_wrap table.details td.border-right {
    border-right: 2px solid #484848;
}

.print_checklist_wrap .details h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-left: 5px;
    margin-bottom: 5px;
}

.print_checklist_wrap .details p {
    padding-left: 5px;
}

.print_checklist_wrap table.description {
    width: 100%;
}

.print_checklist_wrap table.item_desc tr th {
    border-top: 2px solid #484848;
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
    padding-left: 5px;
}

.print_checklist_wrap table.item_desc tr th:last-child {
    border-right: none;
}

.print_checklist_wrap table.item_desc tr.list td {
    border-right: 2px solid #484848;
    padding-left: 5px;
    height: 40px;
}

.print_checklist_wrap table.item_desc tr.list td:last-child {
    border-right: none;
}

.print_checklist_wrap table.item_desc {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.print_checklist_wrap table.req_on {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.print_checklist_wrap table.req_on tr th {
    vertical-align: bottom;
    border-bottom: 2px solid #484848;
    padding: 5px;
    line-height: 1.42857143;
    border-left: 2px solid #484848;
    text-align: center;
}

.print_checklist_wrap table.req_on tr th:last-child {
    border-left: none !important;
}

.print_checklist_wrap table.req_on tr.list td {
    padding-left: 5px;
    border-right: 2px solid #484848;
}

.print_checklist_wrap table.req_on tr.list td:last-child {
    border-right: none;
}

.print_checklist_wrap table.req_on tr.list td span {
    font-weight: bold;
}

.print_checklist_wrap table.req_on thead td.border-bottom {
    border-bottom: 2px solid #484848;
    padding-left: 5px;
}

.print_checklist_wrap table.body {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_checklist_wrap table.body thead tr th {
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
    text-align: left;
    padding-left: 5px;
}

.print_checklist_wrap table.body .list tr td {
    border-right: 2px solid #484848 !important;
    text-align: left;
    padding-left: 5px;
}

.print_checklist_wrap table.body .group tr td {
    border-right: 2px solid #484848 !important;
    text-align: left;
    padding-left: 5px;
}

.print_checklist_wrap table.approval {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_checklist_wrap table.approval tr td {
    border-right: 2px solid #484848;
    border-top: 2px solid #484848;
    text-align: left;
    padding-left: 5px;
}

.print_checklist_wrap table.approval tr td span {
    font-weight: bold;
}

.print_checklist_wrap table.remarks {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_checklist_wrap table.remarks tr td {
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
    border-top: 2px solid #484848;
    text-align: left;
    padding-left: 5px;
}

.print_checklist_wrap table.sign {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_checklist_wrap table.sign tr td {
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
    text-align: left;
    padding-left: 5px;
    height: 50px;
}

.print_close_btn {
    position: absolute;
    top: -45px;
    /* right: 0px;*/
    /* top: 10px;*/
    right: 15px;
}

.print_page_btn {
    background: #fff;
    width: 100%;
    padding: 0px;
    margin: 10px auto;
}


/*----------------------------------------
             Approval
------------------------------------------*/

.print_approva_qty_wrap {}

.print_approva_qty_wrap table.top {
    width: 100%;
    border: 2px solid #484848;
}

.print_approva_qty_wrap table.top td {
    border-left: 2px solid #484848;
}

.print_approva_qty_wrap table.top_inner {
    width: 100%;
}

.print_approva_qty_wrap table.top_inner td {
    border-top: 2px solid #484848;
    border-left: none;
    border-right: 2px solid #484848;
    padding-left: 5px;
}

.print_approva_qty_wrap table.top_inner td:last-child {
    border-right: none;
}

.print_approva_qty_wrap table.top tr td h2 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 4px 0;
}

.print_approva_qty_wrap table.top_two {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_approva_qty_wrap table.top_two td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    padding-left: 5px;
}

.print_approva_qty_wrap table.description {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_approva_qty_wrap table.description td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    height: 50px;
    padding-left: 5px;
}

.print_approva_qty_wrap table.variation {
    width: 100%;
    border-bottom: none;
}

.print_approva_qty_wrap table.variation td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_approva_qty_wrap table.variation.initiated td:last-child {
    border-right: none
}

.print_approva_qty_wrap table.variation.initiated td.architech {
    border-right: 2px solid #484848;
}

.print_approva_qty_wrap table.variation.client td:last-child {
    border-right: none;
}

.print_approva_qty_wrap table.top_three {
    width: 100%;
    border-left: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_approva_qty_wrap table.top_three td {
    border-right: 2px solid #484848;
}

.print_approva_qty_wrap table.specification {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_approva_qty_wrap table.specification th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_approva_qty_wrap table.specification td {
    height: 50px;
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_approva_qty_wrap table.cost {
    width: 100%;
    border-left: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_approva_qty_wrap table.cost th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_approva_qty_wrap table.implecation td {
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_approva_qty_wrap table td.details {
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_approva_qty_wrap table.implecation {
    width: 100%;
}

.print_approva_qty_wrap table.consultants {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_approva_qty_wrap table.consultants th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_approva_qty_wrap table.consultants td {
    border-right: 2px solid #484848;
}

.print_approva_qty_wrap table.comments {
    width: 100%;
}

.print_approva_qty_wrap table.comments td {
    border-bottom: 2px solid #484848;
}


/*----------------------------------------
             Non Tendered Item
------------------------------------------*/

.print_approva_qty_wrap .proposed_warp {
    background: #ccc;
}

.print_approva_qty_wrap .proposed_warp p {
    margin: 0px;
    color: #666666;
    font-weight: 600;
}

.print_approva_qty_wrap .proposed_warp .cost_implication {
    text-align: center;
}

.print_approva_qty_wrap .quantity_warp {
    border-left: 2px solid #484848;
}

.print_approva_qty_wrap .proposed_warp .time_implication {
    text-align: center;
}

.print_approva_qty_wrap table.est_cost th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
}

.print_approva_qty_wrap table.est_cost td {
    border-right: 2px solid #484848;
    text-align: center;
}

.print_approva_qty_wrap table.est_cost th:last-child {
    border-bottom: none;
}

.print_approva_qty_wrap table.est_cost td + td + td + td + td {
    margin-top: 1px;
    text-align: left;
}


/*----------------------------------------
            SITE MEMO
------------------------------------------*/

.print_site_memo_wrap {}

.print_site_memo_wrap table.top {
    width: 100%;
    border: 2px solid #484848;
}

.print_site_memo_wrap table.top td {
    border-left: 2px solid #484848;
}

.print_site_memo_wrap table.top tr td h2 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 4px 0;
}

.print_site_memo_wrap table.top_two {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_site_memo_wrap table.top_two td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    padding-left: 5px;
}

.print_site_memo_wrap table.description {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_site_memo_wrap table.description td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    height: 50px;
    padding-left: 5px;
}

.print_site_memo_wrap table.variation {
    width: 100%;
    border-bottom: none;
}

.print_site_memo_wrap table.variation td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_site_memo_wrap table.variation td:last-child {
    border-right: none;
}

.print_site_memo_wrap table.top_three {
    width: 100%;
    border-left: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_site_memo_wrap table.top_three td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    height: 21px;
}

.print_site_memo_wrap table.specification {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_site_memo_wrap table.specification th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_site_memo_wrap table.specification td {
    height: 50px;
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_site_memo_wrap table.cost {
    width: 100%;
    border-left: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_site_memo_wrap table.cost th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_site_memo_wrap table.implecation td {
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_site_memo_wrap table td.details {
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_site_memo_wrap table.implecation {
    width: 100%;
}

.print_site_memo_wrap table.consultants {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_site_memo_wrap table.consultants th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_site_memo_wrap table.consultants td {
    border-right: 2px solid #484848;
}

.print_site_memo_wrap table.comments {
    width: 100%;
}

.print_site_memo_wrap table.comments td {
    border-bottom: 2px solid #484848;
}


/*----------------------------------------
        Non Conformity report
------------------------------------------*/

.print_non_conformity_wrap {}

.print_non_conformity_wrap table.top {
    width: 100%;
    border: 2px solid #484848;
}

.print_non_conformity_wrap table.top td {
    border-left: 2px solid #484848;
}

.print_non_conformity_wrap table.top_inner {
    width: 100%;
}

.print_non_conformity_wrap table.top_inner td {
    border-top: 2px solid #484848;
    border-left: none;
    border-right: 2px solid #484848;
    padding-left: 5px;
}

.print_non_conformity_wrap table.top tr td h2 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 4px 0;
}

.print_non_conformity_wrap table.top_two {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_non_conformity_wrap table.top_two td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    padding-left: 5px;
}

.print_non_conformity_wrap table.description {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_non_conformity_wrap table.description td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    height: 50px;
    padding-left: 5px;
}

.print_non_conformity_wrap table.variation {
    width: 100%;
    border-bottom: none;
}

.print_non_conformity_wrap table.variation td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_non_conformity_wrap table.variation td:last-child {
    border-right: none;
}

.print_non_conformity_wrap table.top_three {
    width: 100%;
    border-left: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_non_conformity_wrap table.top_three td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    height: 21px;
}

.print_non_conformity_wrap table.specification {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_non_conformity_wrap table.specification th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_non_conformity_wrap table.specification td {
    height: 50px;
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_non_conformity_wrap table.cost {
    width: 100%;
    border-left: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_non_conformity_wrap table.cost th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_non_conformity_wrap table.implecation td {
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_non_conformity_wrap table td.details {
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_non_conformity_wrap table.implecation {
    width: 100%;
}

.print_non_conformity_wrap table.consultants {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_non_conformity_wrap table.consultants th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_non_conformity_wrap table.consultants td {
    border-right: 2px solid #484848;
}

.print_non_conformity_wrap table.comments {
    width: 100%;
}

.print_non_conformity_wrap table.comments td {
    border-bottom: 2px solid #484848;
}

.print_site_memo_wrap .sign {
    padding: 10px;
    margin-bottom: 50px;
}

.print_site_memo_wrap .remark {
    padding: 10px;
}


/*----------------------------------------
    Invoice Documentation checklist
------------------------------------------*/

.print_invoice_checklist_wrap table.top {
    width: 100%;
    border: 2px solid #484848;
}

.print_invoice_checklist_wrap table.top td {
    border-left: 2px solid #484848;
}

.print_invoice_checklist_wrap table.top tr td h2 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 4px 0;
}

.print_invoice_checklist_wrap table.top_two tr.title {
    font-weight: bold;
    height: 28px;
}

.print_invoice_checklist_wrap table.top_two.check_list tr td {
    text-align: center;
}

.print_invoice_checklist_wrap table.top_two.check_list tr td:nth-child(2) {
    text-align: left;
}

.print_invoice_checklist_wrap table.top_two {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_invoice_checklist_wrap table.top_two td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    padding-left: 5px;
}

.print_invoice_checklist_wrap table.top_three {
    width: 100%;
    border-left: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_invoice_checklist_wrap table.top_three tr {
    font-weight: bold;
    height: 35px;
}

.print_invoice_checklist_wrap table.top_three tr:last-child {
    font-weight: 400;
    height: 0;
}

.print_invoice_checklist_wrap table.top_three td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    height: 21px;
}


/*----------------------------------------
            TRANSMITTAL
------------------------------------------*/

.print_transmittal_wrap .top {
    width: 100%;
    border: 2px solid #484848;
}

.print_transmittal_wrap table.top_two tr.text_bold {
    font-weight: bold;
    text-align: center;
}

.print_transmittal_wrap .top td {
    border-left: 2px solid #484848;
}

.print_transmittal_wrap tr.top td h2 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 4px 0;
}

.print_transmittal_wrap table.top_two {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_transmittal_wrap table.top_two td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    padding-left: 5px;
}

.print_transmittal_wrap table.description {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_transmittal_wrap table.description td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    height: 50px;
    padding-left: 5px;
}

.print_transmittal_wrap table.variation {
    width: 100%;
    border-bottom: none;
}

.print_transmittal_wrap table.variation td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_transmittal_wrap table.variation td:last-child {
    border-right: none;
}

.print_transmittal_wrap table.top_three {
    width: 100%;
    border-left: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_transmittal_wrap table.top_three td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    height: 21px;
}

.print_transmittal_wrap table.specification {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_transmittal_wrap table.specification th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_transmittal_wrap table.specification td {
    height: 50px;
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
}

.print_transmittal_wrap table.cost {
    width: 100%;
    border-left: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_transmittal_wrap table.cost th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_transmittal_wrap table.implecation td {
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_transmittal_wrap table td.details {
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_transmittal_wrap table.implecation {
    width: 100%;
}

.print_transmittal_wrap table.consultants {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_transmittal_wrap table.consultants th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_transmittal_wrap table.consultants td {
    border-right: 1px solid #484848;
}

.print_transmittal_wrap table.comments {
    width: 100%;
}

.print_transmittal_wrap table.comments td {
    border-bottom: 2px solid #484848;
}


/*----------------------------------------
        Request For Information
------------------------------------------*/

.print_request_information_wrap {}

.print_request_information_wrap table.top {
    width: 100%;
    border: 2px solid #484848;
}

.print_request_information_wrap table.top td {
    border-left: 2px solid #484848;
}

.print_request_information_wrap table.top_inner {
    width: 100%;
}

.print_request_information_wrap table.top_inner td {
    border-top: 2px solid #484848;
    border-left: none;
    border-right: 2px solid #484848;
    padding-left: 5px;
}

.print_request_information_wrap table.top_inner td:last-child {
    border-right: none;
}

.print_request_information_wrap table.top tr td h2 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 4px 0;
}

.print_request_information_wrap table.top_two {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_request_information_wrap table.top_two .text_bold {
    font-weight: bold;
    text-align: center;
}

.print_request_information_wrap table.top_two .comment {
    height: 200px;
    max-height: 250px;
}

.print_request_information_wrap table.top_two .comment td {
    vertical-align: text-top !important;
}

.print_request_information_wrap table.top_two .comment1 {
    height: 100px;
    max-height: 250px;
}

.print_request_information_wrap table.top_two .comment1 td {
    vertical-align: text-top !important;
}

.print_request_information_wrap table.top_two td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    padding-left: 5px;
}


/*----------------------------------------
          Verbal Instructions
------------------------------------------*/

.print_verbal_instructions_wrap {}

.print_verbal_instructions_wrap table.top {
    width: 100%;
    border: 2px solid #484848;
}

.print_verbal_instructions_wrap table.top td {
    border-left: 2px solid #484848;
}

.print_verbal_instructions_wrap table.top_inner {
    width: 100%;
}

.print_verbal_instructions_wrap table.top_inner td {
    border-top: 2px solid #484848;
    border-left: none;
    border-right: 2px solid #484848;
    padding-left: 5px;
}

.print_verbal_instructions_wrap table.top_inner td:last-child {
    border-right: none;
}

.print_verbal_instructions_wrap table.top tr td h2 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 4px 0;
}

.print_verbal_instructions_wrap table.top_two {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_verbal_instructions_wrap table.top_two .content {
    height: 75px;
    min-height: 100px;
}

.print_verbal_instructions_wrap table.top_two .content td {
    vertical-align: text-top !important;
}

.print_verbal_instructions_wrap table.top_two .text_style {
    font-weight: bold;
}

.print_verbal_instructions_wrap table.top_two td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    padding-left: 5px;
}

.print_verbal_instructions_wrap table.top_two .unit {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    padding-left: 0px;
}

.print_verbal_instructions_wrap table.top_two.qty {
    text-align: center;
    border-left: none;
}

.print_verbal_instructions_wrap table.top_two.qty td {
    border-bottom: none;
}

.print_verbal_instructions_wrap table.top_two.qty th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
}

.print_verbal_instructions_wrap table.top_two.qty td:last-child {
    border-right: none;
}

.print_verbal_instructions_wrap table.top_two.qty th:last-child {
    border-right: none;
}

.print_verbal_instructions_wrap table.top_two tr > td.details {
    vertical-align: text-top !important;
}

.print_verbal_instructions_wrap table.description {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_verbal_instructions_wrap table.description td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    height: 50px;
    padding-left: 5px;
}

.print_verbal_instructions_wrap table.variation {
    width: 100%;
    border-bottom: none;
}

.print_verbal_instructions_wrap table.variation td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_verbal_instructions_wrap table.top_three {
    width: 100%;
    border-left: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_verbal_instructions_wrap table.top_three td {
    border-right: 2px solid #484848;
}

.print_verbal_instructions_wrap table.specification {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_verbal_instructions_wrap table.specification th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_verbal_instructions_wrap table.specification td {
    height: 50px;
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_verbal_instructions_wrap table.cost {
    width: 100%;
    border-left: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_verbal_instructions_wrap table.cost th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_verbal_instructions_wrap table.implecation td {
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_verbal_instructions_wrap table td.details {
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_verbal_instructions_wrap table.implecation {
    width: 100%;
}

.print_verbal_instructions_wrap table.consultants {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_verbal_instructions_wrap table.consultants th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_verbal_instructions_wrap table.consultants td {
    border-right: 2px solid #484848;
}

.print_verbal_instructions_wrap table.comments {
    width: 100%;
}

.print_verbal_instructions_wrap table.comments td {
    border-bottom: 2px solid #484848;
}


/*----------------------------------------
            Material Approval
------------------------------------------*/

.print_material_wrap {}

.print_material_wrap table.top {
    width: 100%;
    border: 2px solid #484848;
}

.print_material_wrap table.top td {
    border-left: 2px solid #484848;
}

.print_material_wrap table.top_inner {
    width: 100%;
}

.print_material_wrap table.top_inner td {
    border-top: 2px solid #484848;
    border-left: none;
    border-right: 2px solid #484848;
    padding-left: 5px;
}

.print_material_wrap table.top_inner td:last-child {
    border-right: none;
}

.print_material_wrap table.top tr td h2 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 4px 0;
}

.print_material_wrap table.top_two {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_material_wrap table.top_two .text_center {
    text-align: center;
}

.print_material_wrap table.top_two .content td {
    height: 75px;
    min-height: 100px;
    vertical-align: text-top !important;
}

.print_material_wrap table.top_two td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    padding-left: 5px;
}

.print_material_wrap table.description {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_material_wrap table.description td {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    height: 100px;
    padding-left: 5px;
}

.print_material_wrap table.top_three {
    width: 100%;
    border-left: 2px solid #484848;
    border-bottom: 2px solid #484848;
}

.print_material_wrap table.top_three td {
    border-right: 2px solid #484848;
}

.print_material_wrap table td.details {
    border-bottom: 2px solid #484848;
    border-right: 2px solid #484848;
}

.print_material_wrap table.implecation {
    width: 100%;
}

.print_material_wrap table.consultants {
    width: 100%;
    border-left: 2px solid #484848;
}

.print_material_wrap table.consultants th {
    border-right: 2px solid #484848;
    border-bottom: 2px solid #484848;
    text-align: center;
    background: #ccc;
}

.print_material_wrap table.consultants td {
    border-right: 2px solid #484848;
}

.print_material_wrap table.consultants td .comments td {
    padding-left: 5px;
}

.print_material_wrap table.comments {
    width: 100%;
}

.print_material_wrap table.comments td {
    border-bottom: 2px solid #484848;
}
