/* 
Template: Eagle - Finance and Corporate Business Bootstrap 4 Html Template
Author: Theme-rocket
Author URI: https://themeforest.net/user/theme-rocket/portfolio 
Version:  1.0
Description: Eagle - Finance and Corporate Business Bootstrap 4 Html Template
 */
/*==============
	Color css
================*/

/*Primary Color*/ 

blockquote,
.js-header-top .js-social-icon li a:hover,
.js-widget-catagories ul li a:hover,
.js-price-content li:after,
.js-widget-post-content p a:hover,
footer .js-social-icon li a:hover,
.js-blog-single-item:hover .js-blog-single-content h5,
.btn-alt,
.author-desc p a:hover,
.info-icon, 
.btn-light,
.primary-color {
	color: #056340 !important;
} 

.progress-bar,
.owl-theme .owl-dots .owl-dot span,
.js-post-pagination li.active a,
.js-post-pagination li a:hover,
.js-widget-tag ul li a:hover,
.js-pricing-style2 .js-price-item::after,
#js-slider-style5 .owl-nav div:hover,
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span,
.js-management-system-area .nav.nav-tabs li a.active:after,
.js-service-style2 .js-service-item:hover .shape,
.header-nav .menu > li.active > a::before,
.js-slider-area .owl-nav div:focus,
.js-slider-area .owl-nav div:hover,
.scrolltop,
.btn-light:hover,
.btn-light:focus,
.btn-alt:hover,
.btn-alt:focus,
.primary-bg{
	background-color: #056340 !important;
}

 blockquote,
.js-widget-tag ul li a:hover,
.js-post-pagination li.active a,
.js-post-pagination li a:hover,
.js-widget-search form input,
#js-slider-style5 .btn-alt:hover,
.js-social-icon-bg li a:hover,
.js-service-style6 .js-service-content .js-service-item:hover,
.js-service-style4 .js-service-item::after,
.js-slider-area .owl-nav div:hover,
.js-slider-area .owl-nav div:focus,
.btn-alt:hover,
.btn-alt:focus,
.btn-alt{
	border-color: #056340;
}

/*Dark Color*/ 

.dark-color{
	color: #040c22 !important;
}

.dark-bg{
	background-color: #040c22;
} 

.white-bg{
    background-color: #fff;
}

.alt-bg{
	background-color: #fafbfc;
}

p{
	color: #000;
	font-weight: 400;
}

li{
	color: #000;
	font-weight: 400;
}