/* 
Template: Eagle - Finance and Corporate Business Bootstrap 4 Html Template
Author: Theme-rocket
Author URI: https://themeforest.net/user/theme-rocket/portfolio 
Version:  1.0
Description: Eagle - Finance and Corporate Business Bootstrap 4 Html Template
 */
/*-------------------------------------------------------
1. Theme default css
---------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700,800');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900i');

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #727a93;
    letter-spacing: 1px;
}

/*font-family: 'Poppins', sans-serif;*/
img {
    max-width: 100%;
}

/* font-family: 'Playfair Display', serif; */


.js-creative-service-thumbnail img,
.js-creative-service-thumbnail,
.js-header-nav-area {
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.shape,
.js-brand-item,
#js-slider-style4 .owl-dots .owl-dot span .js-price-item,
.js-work-item,
.js-creative-service-item,
.js-creative-service-content,
.js-creative-service-thumbnail,
.js-creative-service-thumbnail img,
.js-pricing-style2 .js-price-item:after,
.js-purchase-services,
.js-social-icon-bg,
.js-service-content .js-service-item,
.js-blog-single-item:after,
.js-blog-single-thumbnail img,
.js-blog-single-content,
.js-service-style4 .js-service-item::after,
.js-agent-little-brif,
.js-social-icon-bg,
.js-agent-thumbnail:after,
.js-footer-widget li a,
.js-agent-content,
.js-agent-thumbnail,
.js-single-agent-item,
.js-social-icon,
.js-faq-content .card-header,
.js-slider-area .owl-nav div,
.logo,
.js-post-pagination li a,
.js-social-icon li a,
.header-nav .menu>li a,
a.btn,
.btn,
a,
h4,
h3,
h2,
h5,
.button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus,
a:hover,
.button:focus {
    text-decoration: none !important;
    outline: none;
}

:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 1.5em;
    color: #000;
    letter-spacing: 1px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

h6 {
    font-size: 16px;
    font-weight: 300;
}

.has-color p,
.has-color h1,
.has-color h2,
.has-color h3,
.has-color h4,
.has-color h5 {
    color: #ffffff;
}

.has-color h6.upcoming {
    color: #056340;
    position: absolute;
    top: 0;
    background: #fff;
    padding: 5px 10px;
    border: 1px dashed #056340;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin: 10px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

.list-inline {
    display: inline-block;
    list-style: none;
}

.list-inline li {
    display: inline-block;
}

p {
    margin-bottom: 30px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
}

textarea,
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="text"] {
    border: 0 none;
    box-shadow: 0 0 10px 1px #dddddd;
    line-height: 50px;
    margin-bottom: 30px;
    padding: 0 25px;
    width: 100%;
}

textarea {
    resize: none;
}

*::-moz-selection {
    background: #056340;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #056340;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #056340;
    color: #fff;
    text-shadow: none;
}

.btn-primary,
.btn-secondary,
.btn-light:focus,
.btn-light:hover,
.btn-light {
    color: #ffffff !important;
}

.btn {
    border: 0 none;
    border-radius: 2px;
    font-size: 16px;
    padding: 12px 30px;
}

.btn-sm {
    font-size: 14px;
    padding: 8px 32px;
    text-transform: capitalize;
}

.btn:hover,
.btn:focus {
    border: 0 none;
    box-shadow: none;
    color: #ffffff;
    box-shadow: 0 2px 5px 1px rgba(4, 73, 46, 0.5);
}

.btn-light {
    background-color: #ffffff;
    border: none;
}

.btn-alt:hover,
.btn-alt:focus {
    color: #ffffff !important;
    border: 1px solid;
}

.btn-alt {
    border: 1px solid;
}

.gray-color {
    color: #727a93;
}

/*Section Marrgin Padding*/
section {
    padding: 50px 0;
}

.p100 {
    padding: 100px 0;
}

.p150 {
    padding: 150px 0;
}

.pt-150 {
    padding-top: 150px;
}

.pb-150 {
    padding-bottom: 150px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-150 {
    padding-top: 150px;
}

.pb-150 {
    padding-bottom: 150px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.shape-gray {
    background-color: #e9e7ea;
}

.shape {
    /*     background-image: url("../../assets/images/slider/slider1.jpg");  */
    height: 2px;
    margin: 0 auto 20px;
    position: relative;
    width: 50px;
}

.js-section-title p {
    margin-bottom: 15px;
}

.title-shape {
    background: rgba(0, 0, 0, 0) url("../images/title-shape.png") no-repeat scroll center center;
    height: 14px;
}

.title-shape2 {
    background: rgba(0, 0, 0, 0) url("../images/title-shape2.png") no-repeat scroll center center;
    height: 14px;
    max-width: 75px;
}

.overlay {
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, .5) inset;
}