/*
Template: Devaid - MultiPage Psd Template
Author: Theme-rocket
Author URI: https://themeforest.net/user/theme-rocket/portfolio 
Version:  1.0
Description: Devaid MusicTemplate is only for your Music Industry.

*/

/*=========== MEDIA WIDTH ===========  
	max-width: 1920px
	max-width: 1169px
	max-width: 991px
	max-width: 767px
	max-width: 640px
	max-width: 360px
	max-width: 480px
	min-width: 320px

	*/
 
/* -------------------------------------------------
  Large Screen. 
---------------------------------------------------*/

@media (max-width: 1920px) {
 

}
/* -------------------------------------------------
  Old Desktop
---------------------------------------------------*/

@media (max-width: 1169px) {


}
/* -------------------------------------------------
  Tablet Screen 
---------------------------------------------------*/

@media (max-width: 991px) {  
	.js-topbat-info li {  padding-right: 10px;	}
	.header-nav .menu > li{
		padding: 0 5px;
	}
	.header-nav .menu > li:last-child{
		display: none;
	}
	.js-slider-area .p150 {
	 	 padding: 150px 0 100px !important;
	}
	.js-slider-content h2 {
		font-size: 30px;
		letter-spacing: 1px;
	}
	.js-slider-area .owl-nav div{
		top: 40%;
	}
	.js-slider-area{
		height: auto;;
	}
	.js-featured-services{
		margin-bottom: 30px;
	}
	.js-about-us-thumbnail{
		margin-top: 50px;
	}
	.js-gap-section .btn{
		margin-top: 50px;
	}
	.js-service-item,
	.js-service-style2 .js-service-item{
		padding-left: 0;
		padding-right: 0;
	}
	.js-testimonial-item{
		padding-top: 80px !important; 
	}
	.js-testimonial-slides{
		padding-bottom: 100px;
	}
	.js-skills-content{
		margin-bottom: 50px;
	}
	.js-slider-area.owl-theme .owl-dots {
		bottom: 20px;
		position: absolute;
		text-align: center;
		width: 100%;
	}
	.js-about-us-content{padding-left: 0;}
	.js-about-exp li{
		padding-right: 10px;
	}
	.js-service-title{
		padding-left: 30px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.js-service-content{
		left: 0;
	}
	.js-service-area.p-0{
		padding: 0 30px
	}
	.js-service-content{
		padding: 30px
	}
	.js-faq-title {
	  margin-bottom: 200px;
	  padding-left: 0;
	  padding-top: 30px;
	  position: relative;
	}
	.js-response-info{
		margin-top: 50px;
	}
	.js-blog-single-item .js-blog-single-content{
		padding: 15px;
	}
	.js-gap-section2 h2,
	.js-pricing-plan .js-section-title-style3,
	.js-pricing-plan .js-section-title-style3 p,
	.js-management-system-area .js-section-title-style3 p{
		padding: 0;
	}
	.js-financial-service{
		padding-bottom: 0;
	}
	.js-financial-service .js-service-item{
		padding: 30px 0;
	}
	.js-single-agent-item{
		margin-bottom: 30px;
	}
	.complete-project-title,
	.js-price-item{
		margin-bottom: 50px;
	}
	.js-gap-section2.p150{
		padding: 100px 0
	}
	.js-service-style5{
		top: 0;
		padding-top: 100px;
	}
	#js-slider-style5{
		min-height: auto;
		padding-top: 100px;
	}
	.js-experience-work .pl-0{
		padding-left: 15px !important;
	}
	.js-experience-work .pr-0{
		padding-right: 15px !important;
	}
	.js-experience-work-content h3{font-size: 18px;}
	.js-experience-work-thumbnail{
		margin-top: 50px;
	}
	.js-experience-work-content{
		width: 100%;
	}
	.js-membership-area:after{
		width: 0%;
	}
	.js-gap-section .text-right {
	  text-align: left !important;
	}
	.js-service-style6 .js-service-content .js-service-item{
		padding-left: 30px;
		padding-right: 30px;
	}
	.js-management-info,
	.js-post-pagination{
		margin-bottom: 70px;
	}
	.swiper-slide{
		max-width: 33.33%
	}


}


@media (max-width: 900px){ 
	.swiper-slide{
		max-width: 50%
	}
	.js-membership-content{
		padding: 50px 0;
	}
}

@media (max-width: 800px){ 
	.header-nav .menu > li:last-child{
		display: block;
	}
	.js-creative-service-content{
		bottom: 100px;
	}
	.js-creative-service-item:hover .js-creative-service-content{
		bottom: 200px;
	}
	.p100,
	section{
	    padding: 80px 0 !important;
	}
	.js-testimonial-item{
		padding-top: 80px !important; 
	}
	.js-service-title h2,
	.js-faq-title h2,
	.js-agent-title h2,
	.js-creative-service-title h2,
	.js-fra-title h2,
	.js-about-us-content h2{
		font-size: 22px;
	}
	.js-fra-title{
		margin-bottom: 50px;
	} 
	.js-fast-response-area .nice-select{
		margin-bottom: 30px;
	}
	.js-membership-item,
	.js-management-system-area{
		margin-top: 50px;
	}
	.js-section-title h2
	.js-section-title-style2 h2
	.js-section-title-style3 h2{
		font-size: 20px;
	}
	.js-service-item a{
		text-align: left;
	}
	.js-service-style5 .js-service-border-right:after{
		background: none;
	}
	.js-section-title h2,
	.js-section-title-style3 h2{
		font-size: 20px;
	}
	.js-creative-service-content h4{
		font-size: 16px;
	}



}	
 

@media (max-width: 767px) { 
	.header-nav {
	  margin-top: -64px;
	}
	.js-brand-list .col {
	  flex-basis: 33.33%; 
	  max-width: 33.33%;
	}
	.js-brand-item{
		margin-bottom: 20px;
	}
	.js-slider-content .btn {
	  margin-bottom: 10px; 
	}
	.js-about-exp li{
		margin-bottom: 30px;
	} 
	.js-work-thumbnail img {
	    width: 100%;
	}
	.js-work-item {
	    margin-bottom: 50px;
	}
	.js-service-style3 {
	  padding-bottom: 150px !important;
	}

}
/* -------------------------------------------------
  Small Mobile
---------------------------------------------------*/

@media (max-width: 640px) {  
	.p150{
		padding: 100px 0 !important;
	} 
	.js-header-nav-area .pl-0 {
    	padding-left: 15px !important;
	}
	.js-testimonial-item{
		padding-top: 0;
	} 
	.swiper-slide{
		max-width: 50%
	}


}
 @media (max-width: 575px) {  
	.js-service-style6 .js-service-title h2{
		font-size: 22px;
	}
	.js-testimonial-slide-style2 .js-testimonial-item{
		padding-left: 0;
		padding-right: 0;
	}
	.js-testimonial-slide-style2 .js-testimonial-item p{
		font-size: 16px;
	}
	.js-testimonial-slide-style2 .js-testimonial-item h6{
		font-size: 14px;
	}
	footer .js-social-icon{
		.margin-top: 30px;
	}  
	.js-faq-title::after{
		content: none;
	}
	.js-faq-content .card-header a{
		font-size: 14px;
	}
	.js-faq-content .card-header{
		padding-right: 45px;
	}
	.card-body p {
	  font-size: 14px;
	}
	.js-frequently-ask-question .pt-100{
		padding-top: 0;
	}
	.js-faq-title{
		margin-bottom: 50px;
	}
	.js-complete-projet-content p{
		margin-bottom: 50px;
	}
	.js-creative-service-item:hover{
		transform: scale(1) !important;
	}
	.js-creative-service-item:hover .js-creative-service-thumbnail img{
		transform: scale(1.05);
	}


} 
/* -------------------------------------------------
  Large Mobile :480px. 
---------------------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 480px) { 
	.js-creative-service-content{
		bottom: -20px;
	}
	.js-service-item p{
		margin-bottom: 20px;
	}
	.js-membership-content h3,
	.js-slider-content h2{
		font-size: 22px;
	}
	.js-slider-area.owl-theme .owl-dots{
		bottom: 40px !important;
	}
	.js-slider-content .lead{
		margin-bottom: 30px;
	}
	.js-slider-content .btn{
		border: 0 none;
		border-radius: 2px;
		font-size: 14px;
		padding: 8px 18px;
	}
	.p100,
	section{
	    padding:50px 0 !important;
	}
	.js-creative-service-item:hover .js-creative-service-content{
		bottom: 100px;
	}
	.js-topbat-info {
	  margin-top: 30px;
	  text-align: center;
	} 
	.js-blog-single-thumbnail img{
		width: 100%
	}
	.js-agent-content h4{
		font-size: 14px;
	}

	.js-agent-content h6{
		font-size: 12px;
	}

}
 

 
@media only screen and (max-width: 370px){ 

}