/*--------------

Template: Eagle - Multipurpose Business HTML5 Template
Author: pixelthemez
Author URI: https://themeforest.net/user/pixelthemez/portfolio 
Version:  1.0
Description: Business Bootstrap 4 Html Template

----------------*/

/*====================
CSS Table of content: 
======================
 #== Index Style One Css
      #= Header Css
      #= Slider css
      #= About Us Css
      #= Services Css
      #= Faq Css
      #= Agent Css
      #= Creative Service Css
      #= Fast Response Css
      #= Blog Css style one
      #= Testimonial Css
      #= Footer Css 

 #== Index Style Two Css
     #= Featured Services
     #= Js-gap Section
     #= Service css
     #= Skills Css
     
 #== Index Style Three Css 
    #= Services Style Css 
    #= management area Css 
    #= Agent Style Two Css 
      
 #== Index Style Four Css
     #= Slider Style Four Css
     #= js Service Style 4 Css
     #= Gap Section Two Css
     #= Agent style three Css
     #= Testimonial style 2 Css 
     #= work Css

 #== Index Style Five Css
     #= Slider style 5 Css
     #= Quality Services Css
     #= Experience Work Css
     #= Membership Plan Css
     #= Blog style 2 Css

 #== Index Style Six Css 
     #= Service style 6 Css 
     #= Agent style 4 Css 
     #= Work Result Css 
     #= Membership plan styl 2 Css   

 #== Contact page Css 
 #== Blog Clasic Page Css
 #== Blog Single Page Css
 #== Contact page Css
 #== Breatcam Css Css

 */

/*==============================
   Index Style One Css: 
===============================*/

/* Header Css */
select {
    display: none;
}

label{
    color: #000;
    font-weight: 500;
}
.nice-select {
    -webkit-tap-highlight-color: transparent;
    border-radius: 20px;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    outline: none;
    padding-left: 25px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100px;
}

.nice-select:hover {
    border-color: #dbdbdb;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
    border-color: #999;
}

.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 5px;
}

.nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    z-index: 99999;
}

.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
}

.nice-select.disabled:after {
    border-color: #cccccc;
}

.nice-select.wide {
    width: 100%;
}

.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.nice-select.right {
    float: right;
}

.nice-select.right .list {
    left: auto;
    right: 0;
}

.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}

.nice-select.small:after {
    height: 4px;
    width: 4px;
}

.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}

.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 93%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.nice-select .option {
    color: #222;
    cursor: pointer;
    font-weight: 400;
    line-height: 35px;
    list-style: outside none none;
    min-height: 30px;
    outline: medium none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s ease 0s;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #f6f6f6;
}

.nice-select .option.selected {
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.js-header-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.js-header-top {
    padding: 15px 0;
}

.js-topbat-info li {
    font-size: 14px;
    padding-right: 30px;
}

.js-topbat-info li:last-child {
    padding-right: 0;
}

.js-topbat-info li i {
    margin-right: 8px;
}

.js-header-nav-area {
    background-color: #fff;
}

#js-slider-area .slide-item {
    padding-top: 230px;
    height: 100vh;
}

.slide-item {
    height: 100vh;
}

.js-language-select {
    position: relative;
}

.js-language-select span.globe {
    left: 0px;
    position: absolute;
    top: 3px;
    line-height: normal;
}

.js-social-icon li a {
    color: #ffffff;
    padding-right: 15px;
}

.js-header-top .js-social-icon {
    /*border-left: 1px solid;*/
}

.js-header-top .js-social-icon {
    margin-left: 0;
    padding-left: 0;
    float: left;
}

.js-social-icon-bg li a {
    width: 45px;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    background-color: #ffffff;
    color: #3395ff;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    padding-right: 0;
}

.js-social-icon-bg li a:hover {
    background-color: #056340;
    color: #ffffff;
}

.js-header-nav-area .logo {
    padding: 25px 0;
}

.logo-none {
    display: none;
}

.is-sticky .logo-none {
    display: block;
}

.js-header-area .js-header-style2 .cssmenu .menu-button {
    color: #fff;
}

.js-header-area .js-header-style2 .cssmenu .menu-button::after,
.js-header-area .js-header-style2 .cssmenu .menu-button::before {
    border-color: #fff;
}

.js-header-area .cssmenu .menu-button {
    color: #333
}

.js-header-area .cssmenu .menu-button::after,
.js-header-area .cssmenu .menu-button::before {
    border-color: #333;
}

.is-sticky .js-header-area .cssmenu .menu-button {
    color: #fff
}

.is-sticky .js-header-area .cssmenu .menu-button::after,
.is-sticky .js-header-area .cssmenu .menu-button::before {
    border-color: #fff;
}

.is-sticky .logo-block {
    display: none;
}

.header-nav .menu li a.btn {
    padding-bottom: 12px;
    padding-left: 28px !important;
    padding-right: 28px !important;
    padding-top: 12px;
}

.is-sticky .header-nav .menu>li>a {
    color: #000;
}

.is-sticky .js-header-nav-area.js-header-style2,
.is-sticky .js-header-nav-area {
    width: 100%;
    background-color: #fff;
    z-index: 99999;
}

.date_box {
    position: absolute;
    top: 0;
    background: rgba(4, 73, 46);
    left: 0;
    padding: 15px;
}

.date_box h2 {
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    text-align: center;
}

.date_box h2 span {
    font-size: 25px;
}
.error{
    color: red;
}
/*-------------------
}
}
   Slider css
-------------------- */
.js-slider-area {
    height: 100vh;
}

#js-slider-area .js-slider-item {
    background-image: url("../images/slider/slider1.jpg");
}
#js-slider-area .js-slider-item1 {
    background-image: url("../images/slider/slider_1.png");
}

#js-slider-area .js-slider-item2 {
    background-image: url("../images/slider/slider2.jpg");
}

#js-slider-area .owl-dots {
    bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 999;
}

.sticky-wrapper {
    height: 0px !important
}

.js-slider-content h2 {
    font-size: 50px;
    letter-spacing: 1px;
}

.js-slider-content .lead {
    margin-bottom: 50px;
    margin-top: 20px;
}

.js-header-nav-area .sticky-wrapper {
    height: 94px !important;
}

.js-slider-item,
.js-slider-item2,
.js-slider-item3,
.js-slider-item4,
.js-slider-item5 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.js-slider-area:hover .owl-nav div {
    opacity: 1;
}

.js-slider-area .owl-nav div {
    background: rgba(0, 0, 0, 0.35) !important;
    border: 1px solid #cccccc;
    border-radius: 50% !important;
    color: #ffffff !important;
    font-size: 30px !important;
    height: 60px;
    line-height: 53px;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 58%;
    width: 60px;
    z-index: 9999;
    opacity: 0.2;
}

.js-slider-area .owl-nav div.owl-next {
    right: 50px;
}

.js-slider-area .owl-nav div.owl-prev {
    left: 50px;
}

.js-slider-area .owl-theme .owl-nav {
    margin-top: 0;
}

.owl-theme .owl-nav {
    margin-top: 0;
}

.js-slider-area .owl-nav div:focus {
    outline: none;
}

.js-slider-area .owl-nav button:hover {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;
}

/*-------------------
    About Us Css: 
-------------------- */
.js-about-bg {
    background: url("../images/services/service-bg.jpg") no-repeat scroll center center / cover;
}

.js-about-us-content {
    padding-left: 30px;
}

.js-about-us-content h2 {
    font-weight: 300;
}

.js-about-us-content h2 span {
    font-weight: 700;
}

.js-about-exp li span {
    border-radius: 50%;
    box-shadow: 0 0 10px 1px #cccccc;
    color: #056340;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    text-align: center;
    width: 50px;
}

.js-about-exp li {
    padding-right: 70px;
}

.js-about-us-content p {
    margin-bottom: 60px;
    margin-top: 30px;
}

.js-about-exp {
    margin-bottom: 60px;
}

/*-------------------
    Services Css: 
-------------------- */
.js-service-bg {
    background: url("../images/services/service-bg.jpg") no-repeat scroll center center / cover;
}

.js-service-area {
    overflow: hidden;
}

.js-service-title h4 {
    margin-bottom: 20px;
}

.js-service-title p {
    margin-bottom: 50px;
}

.js-service-title {
    padding-left: 60px;
}

.js-service-area-bg {
    background: url("../images/service-bg.jpg") no-repeat scroll center center / cover;
    height: 100%;
    width: 100%;
}

.js-service-content {
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0 0 11px 0 #eeeeee;
    left: -150px;
    padding: 70px;
    position: relative;
}

.js-service-item .js-service-icon {
    color: #056340;
    display: inline-block;
    font-size: 22px;
    margin-bottom: 10px;
}

.js-service-item h4 {
    margin-bottom: 10px;
}

.js-service-item p {
    margin-bottom: 0;
}

/*-------------------
    Faq Css: 
-------------------- */
.js-faq-title {
    position: relative;
}

.js-faq-title {
    padding-left: 100px;
    position: relative;
}

.js-faq-title::after {
    background: rgba(0, 0, 0, 0) url("../images/faq.png") repeat scroll 0 0 / cover;
    content: "";
    height: 200%;
    position: absolute;
    right: 15%;
    top: -36%;
    width: 90%;
    z-index: -1;
}

.js-faq-title h4 {
    color: #57617e;
    font-size: 24px;
    font-weight: 300;
}

.js-faq-title p {
    margin-top: 30px;
}

.js-faq-content .card-header a {
    cursor: pointer;
    display: block;
    color: #9CA1B1;
}

.js-faq-content .card-header:hover a {
    color: #fff
}

.js-faq-content .card-header {
    background: #f7f9fb none repeat scroll 0 0;
    border: medium none;
}

.js-faq-content .card {
    border: 0 none;
    margin-bottom: 10px;
}

.js-faq-content .card-header a:hover {
    color: #ffffff
}

.js-faq-content .card-header:hover {
    background-color: #056340;
    color: #ffffff;
}

.js-faq-content .card-body {
    border-bottom: 1px solid #e4ebf2;
    border-left: 1px solid #e4ebf2;
    border-right: 1px solid #e4ebf2;
}

.js-faq-content .collapse.show {}

.js-faq-content .card-header a.collapsed::after {
    content: "\e688";
    font-family: 'Pe-icon-7-stroke';
    height: 10px;
    position: absolute;
    right: 30px;
    top: 10px;
    width: 10px;
}

.js-faq-content .card-header a::after {
    content: "\e682";
    font-family: 'Pe-icon-7-stroke';
    position: absolute;
    right: 10px;
    top: 11px;
    font-size: 30px;
}

.owl-theme .owl-dots .owl-dot.active span {
    width: 40px;
}

/*-------------------
    Agent Css: 
-------------------- */
.js-single-agent-item {
    position: relative;
    overflow: hidden;
}

.js-team-bg {
    background: url("../images/agent/team-bg.jpg") no-repeat scroll center center / cover;
}

.js-agent-sliders .owl-dots {
    bottom: -50px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.js-agent-content {
    padding-top: 25px;
}

.js-agent-content h6 {
    color: #9ea7c1;
    font-size: 14px;
}

.js-single-agent-item .js-social-icon {
    left: -50px;
    position: absolute;
    top: 30px;
}

.js-single-agent-item {
    border: 1px solid transparent;
    padding-bottom: 20px;
}

.js-single-agent-item:hover {
    border: 1px solid #bbb;
}

.js-single-agent-item:hover .js-social-icon {
    left: 30px;
}

.js-single-agent-item:hover .js-agent-thumbnail {
    transform: translate3d(0px, -20px, 0px);
}

.js-agent-thumbnail {
    position: relative;
}

.js-agent-thumbnail img {
    width: 100%;
}

.js-single-agent-item:hover .js-agent-content {
    padding-top: 0px;
}

/*-------------------
    Creative Service Css: 
-------------------- */
.js-creative-service-item {
    position: relative;
    overflow: hidden;
}

.js-creative-service-item:hover .js-creative-service-content {
    bottom: 100px;
    padding-bottom: 15px;
}

.js-creative-service-content h6 a:hover {
    text-decoration: underline;
}

.js-creative-service-content {
    bottom: 15px;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    width: 100%;
}

.js-creative-service-slides .owl-dots {
    bottom: -50px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.js-creative-service-slides .owl-item.active {
    margin-right: -1px !important;
    padding-top: 50px;
}

.js-creative-service-slides {
    position: relative;
    top: -50px;
    transition: all 2s ease 0s;
}

.js-creative-service-item {
    background-position: center center;
    background-size: cover;
    height: 500px !important;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s !important;
    z-index: 1 !important;
}

.js-creative-service-item:hover img {
    width: 100%;
    object-fit: cover;
}

.js-creative-service-item:hover {
    transform: scale(1.15) !important;
    z-index: 9999 !important;
}

.js-creative-service-content p {
    margin-bottom: 0;
}

.js-creative-service-content h4 {
    font-size: 18px;
    font-weight: 300;
}

.js-creative-service-content h6 {
    font-size: 14px;
    font-weight: 300;
}

.js-creative-service-content p {
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
}

/*-------------------
    Fast Response Css: 
-------------------- */
.js-fast-response-area form .nice-select {
    box-shadow: 0 0 10px 1px #dddddd;
    border-radius: 0;
    padding: 10px 25px 40px;
    width: 100%;
}

.js-fast-response-area form {
    margin-top: 10px;
}

.js-fast-response-area form .nice-select .list {
    width: 100%;
}

.js-fast-response-area form .btn {
    width: auto;
}

.js-response-info {
    border: 1px solid #056340;
    border-radius: 90px 0;
    margin-bottom: 10px;
    padding: 50px;
}

.js-response-info p {
    margin: 0;
}

.js-fast-response-area h6 span {
    color: #9ea7c1;
}

.js-response-info ul li {
    color: #056340;
    display: inline-flex;
    font-size: 24px;
    font-weight: 300;
}

.js-response-info li span {
    color: #9ea7c1;
    font-size: 14px;
    margin-bottom: 5px;
}

.js-response-info span {
    display: block;
}

.js-response-info ul li i {
    font-size: 30px;
    line-height: 60px;
    margin-right: 15px;
}

/*-------------------
   Blog Css style one 
-------------------- */
.js-blog-single-item {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.js-blog-article-thumbnail {
    position: relative;
}

.js-blog-single-item:hover .js-blog-single-thumbnail img {
    transform: scale(1.1);
}

.js-blog-single-item .js-blog-single-content {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 99;
    padding: 30px;
}

.js-post-date {
    color: #b9c0d5;
    display: block;
    margin-bottom: 10px;
}


.grid-item {
    width: 100%;
    height: auto;
}

/*-------------------
    Testimonial Css 
-------------------- */
.js-testimonial-area {
    overflow: hidden;
}

.js-testimonial-item {
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.js-testimonial-item .js-client-thumbnail {
    margin-bottom: 30px;
}

.js-testimonial-content p {
    color: #798299;
    font-size: 14px;
}

.js-testimonial-content h6 span {
    color: #798299;
}

.js-testimonial-thumbnail {
    position: relative;
}

.js-play-icon {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.js-play-icon a {
    margin: auto;
}

.js-play-icon img {
    margin: 0 auto;
    max-width: 150px;
}

/*-------------------
    Footer Css: 
-------------------- */
.js-footer-widget h4 {
    margin-bottom: 15px;
}

.js-footer-widget p {
    color: #ffffff;
}


.dark-bg .js-footer-widget h4 {
    color: #ffffff;
}

.js-footer-widget li a {
    color: #ffffff;
    display: inline-block;
    padding-bottom: 8px;
}

.js-footer-widget li a:hover {
    color: #056340;
    text-decoration: underline;
}

.js-footer-widget form input[type="email"] {
    background: #050d23 none repeat scroll 0 0;
    border: 1px solid #0d1834;
    box-shadow: none;
    color: #cccccc;
}

.js-footer-widget form {
    position: relative;
}

.js-footer-widget form:after {
    background: url(../images/submit.png);
    content: "";
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    z-index: 999999;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.js-footer-widget form.color-angle:after {
    background: url(../images/color-angle.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.js-footer-widget form input[type="submit"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
    margin-bottom: 0;
    max-width: 60px;
    position: absolute;
    right: 0;
    cursor: pointer;
    text-indent: -999px;
}

footer .js-social-icon {
    display: block;
    text-align: right;
}

.js-copyright p {
    font-size: 14px;
    margin-bottom: 0;
    color: #ffffff;
}

.scrolltop {
    color: #ffffff;
    bottom: 0;
    display: none;
    font-size: 40px;
    height: 50px;
    line-height: 58px;
    position: fixed;
    right: 0;
    text-align: center;
    width: 50px;
    z-index: 999999;
    cursor: pointer;
}

/*==============================
   Index Style Two Css: 
===============================*/

/*#js-slider-style2 .js-slider-item {
    background-image: url("../images/slider/slider3.jpg");
}*/

/*#js-slider-style2 .js-slider-item2 {
    background-image: url("../images/slider/slider5.jpg");
}*/

#js-slider-style2 .js-slider-item3 {
    background-image: url("../images/slider/slider1.jpg");
}

#js-slider-style5 {
    min-height: 700px;
}

#js-slider-style5 .slide-item {
    padding-top: 200px;
    padding-bottom: 170px;
}

#js-slider-style3 .slide-item {
    padding-top: 230px;
    padding-bottom: 100px;
}

#js-slider-style2 .slide-item.p150 {
    padding-bottom: 100px;
    padding-top: 250px;
}

.is-sticky .js-header-area {
    width: 100%;
    z-index: 999;
}

.js-header-nav-area.js-header-style2 {
    background: transparent;
}

.js-header-area,
.js-header-style2 {
    box-shadow: none;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 5px 25px 0px rgba(204, 204, 204, 0.55);
}

.js-header-style2 .js-header-nav-area {
    box-shadow: none;
}

.js-header-style2 .header-nav .menu>li>a {
    color: #ffffff;
}

.js-slider-style2 .js-slider-content {
    padding-top: 70px;
}

/*-------------------
    Featured Services
-------------------- */
.js-services-number h2 {
    color: #dbdfe0;
}

.js-services-number {
    float: left;
}

.js-feature-content {
    margin-left: 60px;
}

.js-feature-content p {
    margin-bottom: 0;
}

.js-feature-content span {
    font-style: italic;
}

.js-feature-content h4 {
    margin-bottom: 15px;
}

.js-about-us-style2 .js-featured-services p {
    margin-bottom: 0;
}

.js-about-us-style2 .js-about-us-content {
    padding-left: 0;
}

.js-about-us-style2 .js-about-us-content p {
    margin-bottom: 0;
}

/*-------------------
    Js-gap Section
-------------------- */
.js-gap-section {
    background: url("../images/gap-section-bg.jpg") repeat scroll 0 0 / cover;
}

/*-------------------
  Service css
-------------------- */
.js-service-style2 .js-service-item .shape {
    margin: 0 auto 10px 0;
}

.js-service-style2 .js-service-item .js-service-icon {
    font-size: 26px;
    margin-bottom: 20px;
}

.js-service-style2 .js-service-item:hover .shape {
    width: 70px;
}

.js-service-style2 .js-service-item h4 {
    color: #051441;
    margin-bottom: 5px;
}

.js-service-style2 .js-service-item {
    margin-bottom: 50px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-top: 0;
}

.js-financial-service .js-testimonial-thumbnail {
    position: relative;
    top: -130px;
}

.js-financial-service {
    position: relative;
}

.js-financial-service-list {
    position: relative;
    top: -50px;
}

/*-------------------
  Skills Css
-------------------- */
.js-skills-content h2 {
    font-weight: 300;
}

.js-skills-content p {
    margin-bottom: 0;
}

.js-skills-content h2 span {
    font-weight: 800;
    padding-right: 50px;
}

.progress {
    margin-bottom: 30px;
    height: 8px;
    border-radius: 0;
}

.js-skills-bar label {
    display: block;
}

/*==============================
   Index Style Three Css: 
===============================*/

/*#js-slider-style3 .js-slider-item {
    background-image: url("../images/slider/slider7.jpg");
}

#js-slider-style3 .js-slider-item2 {
    background-image: url("../images/slider/slider8.jpg");
}

#js-slider-style3 .js-slider-item3 {
    background-image: url("../images/slider/slider9.jpg");
}*/

/*-------------------
  Services Style Css
-------------------- */
.js-service-details {
    display: block;
    padding-top: 20px;
    position: relative;
    text-align: right;
}

.js-service-style3 .js-service-item {
    background-color: #ffffff;
    box-shadow: -3px 14px 10px 5px #f8f8f8;
    padding: 40px;
}

.js-service-style3 .js-service-icon {
    background-color: #e7f9f6;
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
    margin-bottom: 30px;
}

.js-service-style3 .owl-dots {
    bottom: -70px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.js-item1 .js-service-details span {
    color: #0fc8a7
}

.js-item2 .js-service-details span {
    color: #8d4ff3
}

.js-item3 .js-service-details span {
    color: #e0bb11
}

.js-service-details img,
.js-service-details span {
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.js-service-details span {
    font-size: 14px;
    opacity: 0;
}

.js-service-details img {
    left: 85px;
    position: relative;
}

.js-service-details:hover img {
    left: 130px !important;
    opacity: 0;
}

.js-service-details:hover span {
    opacity: 1;
}

/*-------------------
  management area Css
-------------------- */
.js-section-title h2 {
    margin-bottom: 20px;
}

.js-section-title h6 {
    text-transform: uppercase;
    font-size: 16px;
}

.js-section-title-style3 h2 {
    margin-bottom: 20px;
}

.js-section-title-style3 {
    margin-bottom: 70px;
}

.js-management-system-area .js-testimonial-thumbnail {
    box-shadow: 0 10px 20px 5px #cfdce9;
}

.js-management-system-area .js-section-title-style3 p {
    padding: 0 190px;
}

.js-management-system-area .nav.nav-tabs li a {
    color: #000;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
}

.js-management-system-area .nav.nav-tabs li {
    padding-right: 12px;
}

.nav.nav-tabs li:last-child {
    padding-right: 0;
}

.js-management-system-area .nav-tabs {
    padding: 0 40px;
}

.js-management-system-area .nav.nav-tabs li a.active:after {
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

.js-management-info h2 {
    font-weight: 300;
    margin-bottom: 30px;
}

.js-management-info h2 span {
    font-weight: 800;
}

.js-management-info p {
    margin-bottom: 50px;
}

.js-service-icon img {
    margin-bottom: 20px;
}

.js-management-system-area .js-service-item p {
    margin-bottom: 30px;
}

.js-read-more {
    color: #727a93;
}

.js-read-more:hover {
    text-decoration: underline;
}

.js-financial-service .js-service-item {
    padding: 30px 30px 0;
}

.js-financial-service .js-service-item p {
    margin-bottom: 30px;
}

/*-------------------
    Agent Style Two Css: 
-------------------- */
.js-agent-style2 {
    margin: auto;
}

.js-agent-style2 .js-single-agent-item:hover .js-agent-thumbnail {
    transform: none;
}

.js-agent-style2 .js-single-agent-item:hover .js-agent-content {
    padding-top: 25px;
}

.js-agent-style2 .js-single-agent-item,
.js-agent-style2 .js-single-agent-item:hover {
    border: none;
}

.js-agent-little-brif {
    color: #ffffff;
    height: 100%;
    left: 0;
    padding: 90px 20px 60px 30px;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 99;
}

.js-agent-little-brif p {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.js-agent-thumbnail:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    background: rgba(5, 20, 65, .75);
}

.js-agent-style2 .js-single-agent-item:hover .js-agent-thumbnail:after,
.js-agent-style2 .js-single-agent-item:hover .js-agent-little-brif {
    opacity: 1;
}

.js-membership-bg {
    background: url("../images/price-bg.jpg") repeat scroll center center;
}

.js-pricing-plan .js-section-title-style3 {
    padding: 0 40px;
}

.js-pricing-plan .js-section-title-style3 p {
    padding: 0 160px;
}

.js-all-agent {
    color: #9ca2b5;
}

.js-all-agent img {
    margin-left: 5px;
}

.js-price-item {
    box-shadow: 0 0 10px 1px rgb(221, 221, 221);
    padding: 40px 40px 30px;
}

.js-purchase-services {
    display: block;
    text-align: right;
}

.js-price-item h2 {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
}

.js-price-item h4 {
    margin-bottom: 5px;
}

.js-price-item.free-download h2 {
    color: #f3ca0f;
}

.js-price-item.free-download a {
    color: #f3ca0f;
}

.js-purchase-services {
    color: #051441;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.js-price-item .js-purchase-services:hover {
    text-decoration: underline;
}


/*==============================
   Index Style Four Css: 
===============================*/

/*-------------------
    Slider Style Four Css: 
-------------------- */
/*#js-slider-style4 .js-slider-item {
    background-image: url("../images/slider/slider9.jpg");
}

#js-slider-style4 .js-slider-item2 {
    background-image: url("../images/slider/slider10.jpg");
}

#js-slider-style4 .js-slider-item3 {
    background-image: url("../images/slider/slider17.jpg");
}*/

#js-slider-style4 .slide-item {
    padding-bottom: 100px;
    padding-top: 210px;
}

#js-slider-style5 .js-slider-content h2,
#js-slider-style4 .js-slider-content h2 {
    font-family: 'Playfair Display', serif;
}

#js-slider-style5 .js-slider-content p.lead,
#js-slider-style4 .js-slider-content p.lead {
    font-size: 16px;
}

#js-slider-style4 .owl-dots {
    bottom: 80px;
    position: absolute;
    text-align: center;
    width: 100%;
}

#js-slider-style4 .owl-dots .owl-dot.active span {
    margin: 3px;
}

.js-slider-style4 .js-slider-content h2 {
    font-family: 'Playfair Display', serif;
}

.js-slider-style4 .js-slider-content {
    padding-top: 80px;
}

.js-slider-content .btn {
    margin-right: 10px;
}

/*-------------------
  js Service Style 4 Css: 
-------------------- */
.js-service-style4 .js-service-details img {
    left: 0;
    position: relative;
}

.js-service-style4 .js-service-details:hover img {
    left: 0 !important;
    opacity: 1;
}

.js-service-style4 .js-service-item::after {
    border-style: solid;
    border-width: 1px;
    content: "";
    height: 92%;
    left: 13px;
    position: absolute;
    top: 13px;
    width: 92%;
    opacity: 0;
    z-index: -1
}

.js-service-style4 .js-service-item.active:after,
.js-service-style4 .js-service-item:hover:after {
    opacity: 1;
}

.js-service-style4 .js-service-item {
    position: relative;
    z-index: 99;
}

.js-quality-services .nav-tabs {
    padding: 0;
    margin-bottom: 30px;
    margin-top: 15px;
}

.js-quality-services .nav-tabs li a {
    padding: 10px 0 !important;
}

.js-management-system-area .nav.nav-tabs li a:last-child {
    margin-right: 0 !important;
}

.js-quality-services .nav-tabs li {
    padding-right: 30px !important;
}

.js-quality-services .nav-tabs li:last-child {
    padding-right: 0 !important;
}

/*-------------------
    Gap Section Two Css: 
-------------------- */

.js-gap-section2 {
    background: url("../images/gap-section-bg2.jpg") no-repeat scroll center center / cover;
}

.js-gap-section2 h2 {
    font-family: 'Playfair Display', serif;
}

.js-gap-section2 h2 {
    margin-bottom: 20px;
    padding: 0 80px;
}

.js-gap-section2 p {
    font-size: 14px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

/*-------------------
    Agent style three Css: 
-------------------- */
.js-agent-style3 .js-social-icon-bg {
    bottom: 0;
    left: 0;
    opacity: 0;
    padding-bottom: 30px;
    padding-left: 30px;
    position: absolute;
    width: 100%;
    z-index: 9;
}

.js-agent-content h4 {
    font-size: 18px;
    line-height: 32px;
}

.js-single-agent-item:hover .js-social-icon-bg {
    opacity: 1;
}

/*-------------------
    Testimonial style 2 Css: 
-------------------- */
.js-testimonial-slide-style2 .js-testimonial-item {
    padding-left: 30px;
    padding-right: 30px;
    background: url("../images/agent/feedback.png") no-repeat scroll center center / contain;
}

.js-testimonial-slide-style2 .js-testimonial-item p {
    font-size: 18px;
    line-height: 32px;
}

/*-------------------
    work Css: 
-------------------- */
.js-work-content {
    background-color: #ffffff;
    box-shadow: 0 0 15px 1px #dddddd;
    padding: 30px 35px;
}

.js-work-item {
    top: 0;
    position: relative;
}

.js-work-item:hover {
    top: -10px;
}

.js-work-content a.js-all-agent {
    color: #056340;
}

.js-work-content h4 {
    margin-bottom: 5px;
}

.js-work-content h6 {
    font-size: 14px;
}

.complete-project-title span {
    font-size: 14px;
}

.complete-project-title h2 span {
    font-size: 30px;
}

.complete-project-title h2 {
    margin-bottom: 50px;
}

.complete-project-title {
    padding-right: 20px;
}

.js-total-wirk h2 {
    color: #056340;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 60px;
}

.js-complete-projet-content h4 {
    margin-bottom: 20px;
}

.js-complete-projet-content p {
    font-size: 14px;
}

/*==============================
   Index Style Five Css: 
===============================*/

/*-------------------
  Slider style 5 Css: 
-------------------- */
/*#js-slider-style5 .js-slider-item {
    background-image: url("../images/slider/slider6.jpg");
}

#js-slider-style5 .js-slider-item2 {
    background-image: url("../images/slider/slider7.jpg");
}

#js-slider-style5 .js-slider-item3 {
    background-image: url("../images/slider/slider8.jpg");
}*/

.js-slider-style5 .js-slider-item,
.js-slider-style5 {
    min-height: 800px;
}

.js-slider-area .owl-nav div i {
    line-height: 53px;
}

#js-slider-style5 .owl-nav div {
    background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0 !important;
    border: none;
    border-radius: 0 !important;
    width: 50px;
}

.js-service-style5 {
    position: relative;
    top: -100px;
    z-index: 9
}

.js-service-style5 .js-service-item {
    padding: 30px
}

#js-slider-style5 .btn-alt {
    color: #ffffff !important;
    border-color: #ffffff;
}

.js-slider-style5 .js-slider-content h2 span {
    text-decoration: underline
}

.js-service-item {
    padding: 30px;
}

.js-service5 {
    box-shadow: 0 10px 15px -5px #e0e0d5;
}

.js-service-icon {
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
}

.js-service-icon img {
    margin-bottom: 0;
}

.js-service-border-right {
    position: relative;
}

.js-service-style5 .js-service-border-right:after {
    background: #cccccc none repeat scroll 0 0;
    content: "";
    height: 79%;
    position: absolute;
    right: 0;
    top: 31px;
    width: 1px;
}

.js-service-item a {
    display: inline-block;
    text-align: right;
    width: 100%;
}

/*-------------------
    Quality Services Css: 
-------------------- */
.js-quality-services-item .js-icon {
    float: left;
}

.js-quality-services-item .js-icon {
    max-width: 50px;
}

.js-quality-services-item .js-icon img {
    max-width: 35px;
}

.js-quality-services-item-content {
    margin-left: 50px;
    margin-top: 50px;
}

.js-quality-services-item-content h4 {
    margin-bottom: 10px;
}

.js-quality-services-item-content p {
    margin-bottom: 0;
}

/*-------------------
    Experience Work Css: 
-------------------- */
.js-experience-work-content h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 20px;
}

.js-experience-work-content a {
    color: #727a93;
}

.js-experience-work-content a img {
    margin-left: 10px;
}

.js-experience-work-content {
    background-color: #ffffff;
    box-shadow: 0 1px 30px 3px #cccccc;
    padding: 40px;
    position: relative;
    width: 120%;
    z-index: 99;
}

.js-experience-work-thumbnail {
    position: relative;
}

.js-done-work {
    bottom: -30px;
    position: absolute;
    width: 100%;
}

.js-done-work h2 {
    display: inline-block;
    float: left;
    font-family: "Playfair Display", serif;
    font-size: 150px;
    line-height: 90px;
}

.js-done-work p {
    color: #3b4462;
    position: relative;
    top: 70px;
}

/*-------------------
    Membership Plan Css: 
-------------------- */
.js-membership-content {
    padding: 100px 0;
}

.js-membership-area {
    min-height: 500px;
    position: relative;
}

.js-membership-area::after {
    background: url("../images/membership-bg.jpg") repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 45%;
    z-index: 99999999;
    background-repeat: no-repeat;
}

.js-membership-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.js-membership-item h2 {
    display: inline-block;
    font-size: 60px;
    font-weight: 300;
}

.js-membership-item h2 sup {
    font-size: 20px;
    right: -10px;
    top: -28px;
}

.js-membership-item p {
    text-transform: uppercase;
}

.js-membership-content a {
    display: block;
    padding-top: 30px;
    text-decoration: underline;
}

.js-membership-content a:hover {
    text-decoration: underline;
}

.js-include-services li {
    padding-bottom: 10px;
    padding-left: 25px;
    position: relative;
}

.js-include-services li::after {
    color: #056340;
    content: "\f00c";
    font-family: fontawesome;
    left: 0;
    position: absolute;
    top: 0;
}

.js-section-title h2 span {
    font-weight: 300;
}

/*-------------------
    Blog style 2 Css: 
-------------------- */
.js-blog-style2 .js-blog-single-item {
    position: relative;
    overflow: hidden;
}

.js-blog-style2 .js-blog-single-item::after {
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(4, 73, 46, .9);
}

.js-blog-style2 .js-blog-single-item:hover:after {
    opacity: 1;
}

.js-blog-style2 .js-blog-single-item .js-blog-single-content .js-post-date {
    color: #ffffff;
}

.js-blog-style2 .js-blog-single-item .js-blog-single-content p {
    border-top: 1px solid #dddddd;
    margin-top: 20px;
    padding-top: 20px;
    color: #fff;
}

.js-blog-style2 .js-blog-single-item a {
    color: #ffffff;
}

.js-blog-style2 .js-blog-single-item .js-blog-single-content {
    bottom: -165px;
}

.js-blog-style2 .js-blog-single-item:hover .js-blog-single-content {
    bottom: 0
}

.js-gap-section .lead {
    font-style: italic;
    margin-bottom: 0;
}

.js-gap-section h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

/*==============================
   Index Style Six Css: 
===============================*/
.js-slider-area6 .js-slider-content {
    padding-top: 120px;
}

.js-slider-area6 .js-slider-content h2 span {
    font-weight: 300;
}

.js-slider-area6 {
    background-attachment: fixed;
   /* background-image: url("../images/slider/slider16.jpg");*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*-------------------
   Service style 6 Css: 
-------------------- */
.js-service-style6 .js-service-title {
    padding-left: 0;
}

.js-service-style6 .js-service-title h2 {
    margin-bottom: 20px;
}

.js-service-style6 .js-service-item .js-service-icon {
    border: 1px solid #ccc;
}

.js-service-style6 .js-service-content {
    background: none;
}

.js-service-style6 .js-service-content {
    box-shadow: none;
    left: 0;
    padding: 0;
}

.js-brand-discussion .js-testimonial-thumbnail {
    margin-bottom: 50px;
    margin-top: -150px;
}

.js-service-style6 .js-service-content .js-service-item {
    background-color: #f6f8fb;
    border-top: 5px solid rgba(0, 0, 0, 0);
    margin-bottom: 30px;
}

.js-service-style6 .js-service-content .js-service-item p {
    font-size: 15px;
}

.js-service-style6 .js-service-content .js-service-item h4 {
    font-size: 18px;
}

.js-service-top {
    position: relative;
    top: -50px;
}

.js-service-style6 .js-service-content .js-service-item:hover {
    background: none;
    box-shadow: 0 1px 23px 0 #dddddd;
}

.js-brand-item {
    padding: 15px;
}

.js-brand-item:hover {
    box-shadow: 0 0 3px 2px #dddddd;
}

.js-brand-item img {
    height: 50px;
    max-width: 100px;
}

/*-------------------
   Agent style 4 Css: 
-------------------- */
.js-agent-style4 .js-social-icon-bg {
    opacity: 1;
    padding-right: 20px;
    padding-top: 30px;
    right: -90px;
    text-align: right;
    top: 0;
}

.js-agent-style4 .js-single-agent-item:hover .js-social-icon-bg {
    right: 0;
}

.js-agent-style4 .js-agent-thumbnail::after {
    background: rgba(24, 134, 253, 0.9);
}

.js-agent-style4 .js-social-icon-bg {
    left: auto;
    opacity: 1;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 30px;
    position: absolute;
    right: -90px;
    text-align: right;
    top: 0;
}

.js-agent-style4 .js-agent-content {
    bottom: 0;
    padding-bottom: 30px;
    padding-left: 30px;
    position: absolute;
    width: 100%;
    z-index: 99;
}

.js-agent-style4 .js-agent-content h4 {
    color: #ffffff;
}

.js-agent-style4 .js-agent-content h4 {
    color: #ffffff;
}

.js-agent-style4 .js-agent-content h4 a:hover {
    color: #ffffff;
}

.js-agent-style4 .js-agent-content h6 {
    color: #ffffff;
}

/*-------------------
   Work Result Css: 
-------------------- */
.js-work-result-item {
    padding-right: 50px;
}

.js-work-result-item h2 {
    display: inline-block;
    font-size: 90px;
    font-weight: 300;
    line-height: 120px;
    margin-bottom: 0;
    color: #051441;
}

.js-work-result-item h2 sup {
    font-size: 30px;
    top: -50px;
}

/*-------------------
   Membership plan styl 2 Css: 
-------------------- */
.js-pricing-style2 .js-section-title-style3 {
    padding: 0;
}

.js-pricing-style2 .js-price-item.free-download:hover,
.js-pricing-style2 .js-price-item.free-download {
    border-image: none;
    border: 1px dashed #f3ca0f;
    padding: 40px 40px 30px;
}

.js-pricing-style2 .js-price-item.free-download:after {
    background: none;
}

.js-pricing-style2 .js-price-item {
    border: 1px dashed #056340;
    padding: 40px 40px 30px;
    position: relative;
}

.js-pricing-style2 .js-price-item:hover {
    border-color: transparent;
}

.js-pricing-style2 .js-price-item:after {
    background: #0078d7;
    content: "";
    height: 5px;
    left: -1px;
    position: absolute;
    top: -4px;
    width: 101%;
    opacity: 0;
}

.js-pricing-style2 .js-price-item:hover:after {
    opacity: 1;
}

.js-price-content {
    padding-bottom: 40px;
    padding-left: 30px;
    padding-top: 10px;
}

.js-price-content li {
    padding-bottom: 10px;
    position: relative;
}

.js-price-content li:last-child {
    padding-bottom: 0;
}

.js-price-content li::after {
    content: "\f00c ";
    font-family: fontawesome;
    left: -30px;
    position: absolute;
    top: 0;
}

.js-price-content li.js-not-include:after {
    content: "\f00d";
    color: #f68585 !important;
}

.js-price-item sub {
    color: #727a93;
    font-size: 14px;
    font-weight: 300;
}

.js-gap-section.js-gap-section-style2 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: -100px;
    padding: 50px 80px;
    position: relative;
}

.alt-bg .js-footer-widget form input[type="email"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #cccccc;
    box-shadow: none;
    color: #7b839e;
}

/*-------------------
   Contact page Css: 
-------------------- */
.js-contat-form textarea {
    height: 180px;
}

.js-contat-form .btn {
    display: inline-block;
}

.js-contat-form .btn {
    max-width: 180px;
}

#google-map {
    width: 100%;
    height: 420px;
    display: block;
    margin-bottom: 0;
}

.info-icon {
    display: inline-block;
    float: left;
    font-size: 30px;
    margin-right: 20px;
}

.info-content {
    margin-left: 40px;
}

.info-content p {
    color: #677294;
}

.info-content h4 {
    font-size: 16px;
}

.js-social-icon-bg li a {
    border: 1px solid #cccccc;
    color: #00002c;
}

/*-------------------
   Blog Clasic Page Css: 
-------------------- */
.js-blog-bg {
    background: url("../images/blog/blog-headerclassic-bg.jpg") repeat scroll 0 0;
}

article.js-classic-item {
    border-bottom: 1px solid #9ea8ba;
    margin-bottom: 70px;
}

.js-js-blog-article {
    padding-bottom: 40px;
    padding-top: 30px;
}

.js-js-blog-article h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

.ja-post-date-comment {
    display: block;
    margin-bottom: 20px;
}

.ja-post-date-comment li a {
    border-right: 2px solid #9ea8ba;
    color: #9ea8ba;
    margin-right: 25px;
    padding-right: 25px;
}

.ja-post-date-comment li:last-child a {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}

aside {
    padding: 30px;
}

.js-widget-search form {
    position: relative;
}

.js-widget-search form input {
    border-left: 5px solid;
    margin-bottom: 0;
}

.js-widget-search form i {
    position: absolute;
    right: 23px;
    top: 10px;
}

.js-sidebar-widget {
    margin-bottom: 50px;
}

.js-widget-catagories ul li a {
    color: #727a93;
    display: block;
    padding: 5px 0;
}

.js-widget-catagories ul li:first-child a {
    padding-top: 0;
}

.js-widget-catagories ul li a i {
    font-size: 22px;
    line-height: normal;
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.js-widget-post-thumbnail {
    float: left;
    width: 90px;
    height: 90px;
}

.js-footer-section a,
.js-footer-section p {
    color: #ffffff;
    font-size: 14px;
}

.js-widget-post-thumbnail img {
    width: 100%;
    height: 100%;
}

.js-widget-post-content {
    margin-left: 110px;
}

.js-widget-post-content p {
    margin-bottom: 10px;
    line-height: normal;
    font-size: 14px;
}

.js-widget-post-content p a {
    color: #051441;
}

.js-widget-post-content .js-post-date {
    font-size: 14px;
    margin-bottom: 0;
    line-height: normal;
}

.js-widget-recent-post li {
    padding-bottom: 20px;
    display: table;
}

.js-widget-ig li a {
    display: block;
    margin-bottom: 10px;
    padding: 0 5px;
    width: 99px;
}

.js-widget-ig ul {
    margin-left: -10px;
    margin-right: -10px;
}

.js-widget-ig ul {
    margin-left: -10px;
    margin-right: -10px;
}

.js-widget-tag ul li a {
    border: 1px solid #727a93;
    border-radius: 3px;
    color: #727a93;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0 12px;
    margin-right: 5px;
}

.js-widget-tag ul li a:hover {
    color: #ffffff;
}

.js-post-pagination li a {
    border: 1px solid #cccccc;
    border-radius: 50%;
    color: #cccccc;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}

.js-post-pagination li.active a,
.js-post-pagination li a:hover {
    color: #ffffff;
}

.js-post-share .js-social-icon-bg li a {
    height: 35px;
    line-height: 35px;
    margin-right: 0px;
    width: 35px;
}

.js-post-share span {
    font-size: 15px;
    margin-right: 10px;
    text-transform: uppercase;
}

/*-------------------
   Blog Single Page Css: 
-------------------- */
.author-info h4 {
    color: #020e27;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 300;
}

.author-info h4 span {
    color: #3d434f;
}

.author-info {
    overflow: hidden;
}

.blog-second-post {
    margin-top: 50px;
}

.comment li {
    padding: 0;
}

.comment li:last-child {
    border-right: 0 none;
}

.js-comment-info-img,
.author-info-image {
    float: left;
    min-width: 70px;
}

.author-desc {
    margin-left: 120px;
}

.js-post-comments .author-desc {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 30px;
}

.comment-info {
    margin-bottom: 0;
}

.comment-info .author-desc {
    padding-bottom: 30px;
}

.comment-list li.comment {
    margin-bottom: 0;
}

.author-desc .social-icon li a {
    width: auto;
    height: auto;
    line-height: normal;
    font-size: 26px;
    color: #c3c9d4;
}

.js-blog-send-msg a.btn {
    border: 1px solid #dce3eb;
    color: #3d434f;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.js-blog-send-msg a.btn i {
    margin-right: 10px;
    color: #dce3eb;
}

.author-title ul li a i {
    color: #dce3eb;
    margin-right: 10px;
}

.author-desc .social-icon {
    margin-top: 10px;
}

.author-desc .social-icon li a:hover {
    background: none;
    color: #ff0068;
}

.author-info .author-title {
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 16px;
    position: relative;
}

.js-blog-send-msg {
    position: absolute;
    right: 0;
    top: 0;
}

.author-info ul {
    margin-top: 37px;
}

.author-info ul li a {
    font-size: 14px;
    text-transform: uppercase;
}

.author-desc .author-title a {
    padding-left: 5px;
    padding-right: 5px;
    text-transform: capitalize;
}

.author-title strong {
    color: #020e27;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.author-desc p {
    margin-bottom: 15px;
}

.author-desc p a {
    color: #ccc
}

.author-desc p a i {
    margin-right: 10px;
}

.author-desc p:last-child {
    margin-bottom: 0;
}

.author-title p {
    color: #7a8292;
    font-size: 14px;
}

.js-comment-info-img p,
.author-info-image p {
    margin-bottom: 0;
}

.js-comment-info-img img,
.author-info-image img {
    color: #949aa5;
    margin-bottom: 10px;
}

.js-comment-info-img p a,
.author-info-image p a {
    color: #949aa5;
}

.js-contact-form-input {
    position: relative;
}

.js-contact-form-input label {
    font-size: 14px;
    left: 20px;
    position: absolute;
    top: 5px;
    z-index: 9;
}

.comment-title {
    margin-bottom: 30px;
}

.comment-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.comment-info {
    display: block;
    overflow: hidden;
    padding: 30px 0 30px 60px;
}

.comment-info img {
    min-width: 100px;
    min-height: 100px;
}

.comment-info .author-desc {
    margin-left: 120px;
    position: relative;
    padding-bottom: 30px;
}

.comment-list li:last-child {
    text-align: center;
}

.comment-list .children .comment-info {
    border-bottom: 0 none;
    border-top: 0 none;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.comment-list .children li.comment {
    border: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.comment-info .author-desc::after {
    border-color: transparent white transparent transparent;
    border-style: solid;
    border-width: 12px;
    content: "";
    left: -24px;
    position: absolute;
    top: 10px;
}

.comment-info .author-title {
    line-height: 16px;
    margin-bottom: 20px;
}

.author-info ul li {
    padding: 0 9px;
}

.comment-list .children {
    list-style: outside none none;
    padding-left: 90px;
}

.post-single-comment-form .btn {
    width: auto;
}

blockquote {
    border-left: 10px solid;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 45px 40px;
}

blockquote p {
    margin: 0;
}

/*-------------------
   Breatcam Css: 
-------------------- */
.js-breatcam-area {
    min-height: 300px;
}

.js-breatcam-menu li a {
    color: #ffffff;
}

.js-breatcam-menu li {
    padding-right: 30px;
    color: #fff;
    position: relative;
}

.js-breatcam-content {
    padding-top: 185px;
}

.js-breatcam-content h2 {
    font-size: 42px;
    color: #000 !important;
}

.js-breatcam-menu li::after {
    content: ">";
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 2px;
}

.js-breatcam-menu li:last-child::after {
    content: none;
}

.portfolio-area .js-sidebar-widget {
    margin-bottom: 30px;
}

.js-sidebar-widget h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.js-next-prev-post ul {
    display: table;
    flex-flow: row wrap;
    width: 100%;
}

.js-next-prev-post ul li {
    display: table-cell;
}

.js-next-prev-post ul li a {
    border: 1px solid #cccccc;
    display: inline-block;
    font-size: 30px;
    height: 50px;
    line-height: 52px;
    text-align: center;
    width: 50px;
}

.js-next-prev-post ul li a:hover {
    background-color: #056340;
    color: #ffffff;
}

.js-next-prev-post ul li:nth-child(2) a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #bbbbbb;
}

.js-next-prev-post ul li:nth-child(2) a:hover {
    background-color: #056340;
    color: #ffffff;
}

.js-next-prev-post {
    margin-top: 50px;
}


/* Video Button */
.js-animate-button {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.js-animate-button a {
    display: inline-block;
    vertical-align: middle;
    border-radius: 999px;
}

.js-animate-button:before,
.js-animate-button:after {
    border-radius: 999px;
    content: "";
    height: 100%;
    left: 50%;
    margin-left: -45px;
    margin-top: -50px;
    position: absolute;
    top: 55%;
    width: 100%;
}

.js-animate-button:before {
    background: rgba(0, 122, 255, 0.7);
    z-index: -1;
    -webkit-animation: tmGrowShrink 1.2s ease-in-out 0s infinite both;
    animation: tmGrowShrink 1.2s ease-in-out 0s infinite both;
}

.js-animate-button:after {
    background: rgba(255, 255, 255, 0.7);
    z-index: -2;
    -webkit-animation: tmGrowShrink 1.2s ease-in-out 0.3s infinite both;
    animation: tmGrowShrink 1.2s ease-in-out 0.3s infinite both;
}

.js-animate-button span {
    display: inline-block;
    height: 90px;
    width: 90px;
    line-height: 90px;
    text-align: center;
    background: #ffffff;
    border-radius: 999px;
    color: #056340;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.js-animate-button span i {
    font-size: 26px;
    vertical-align: middle;
    padding-left: 4px;
}

.js-animate-button:hover span {
    background: #056340;
    color: #ffffff;
}




button:focus .mfp-close:focus {
    outline: none;
}

.mfp-title {
    display: none;
}

.mfp-iframe-holder .mfp-close:focus {
    outline: none;
}

/** Animations **/
@-webkit-keyframes tmGrowShrink {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.55);
        transform: scale(1.55);
        opacity: 0;
    }
}

@keyframes tmGrowShrink {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.55);
        transform: scale(1.55);
        opacity: 0;
    }
}

@-webkit-keyframes tmSpin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes tmSpin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes tmSpinReverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes tmSpinReverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}



/*--------------------------------------------
              Custom Wrap
---------------------------------------------*/

.about_wrap {
    margin-top: 30px;
}

.about_wrap p {
    margin-bottom: 20px;
}

.about_wrap h2 {
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 10px;
}

.about_wrap h3 {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

.about_wrap ul {
    margin-left: 30px;
}

.about_wrap ul li {
    padding-bottom: 20px;
    font-size: 15px;
    list-style: square;
}

.news_wrap .js-work-item {
    margin-bottom: 30px;
}

.reg_contact_wrap h3 {
    font-size: 23px;
    margin: 20px 0;
}

.display_none {
    display: none !important;
}

.home_sldier_wrap p {
    font-size: 20px;
    background: rgba(0, 0, 0, .5);
    padding: 30px;
    border-radius: 3px;
}

.members_of_credai {
    border: 1px solid #dddddd;
    margin-bottom: 30px;
}


.members_of_credai h2 a{
   color: #ffffff;
}


.members_of_credai .image_wrap {
    min-height: 100px;
}

.members_of_credai img {
   margin:5px auto;
display: block;
width: auto;
height: 105px;
padding: 15px
}

.members_of_credai .title {
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.members_of_credai h2 {
    font-size: 16px;
    margin: 0;
    padding: 15px;
    color: #000;
}

.vendor_wrap {
    border: 1px solid #dddddd;
    margin-bottom: 30px;
}

.vendor_wrap h2 {
    padding: 25px;
    font-size: 23px;
    text-align: center;
    font-weight: normal;
}

.mou_item{
    margin-bottom: 30px;
    border-bottom: 1px solid #dddddd;
    padding: 10px 30px 30px 30px;
    background: #ffffff;
    border-radius: 3px;

}

.mou_item p{
    margin-bottom: 15px;
}
.mou_item a{
    
}

.go_item{
    border: 2px dashed #dddddd;
    padding: 15px;
    min-height: 130px;
    margin-bottom: 30px;
}

.go_item h2{
    font-size: 15px;
    margin-bottom: 10px;
}


.news_grid_wrap{
background-color: #ffffff;
box-shadow: 0 0 15px 1px #dddddd;
padding: 20px 20px;
 text-align: center;
 margin-bottom: 30px;
 min-height: 140px;
}

.news_grid_wrap h2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.news_grid_wrap a{
   text-align: center;
}

.jFiler-input-choose-btn.blue{
    border: 1px solid #056340 !important;
}

.jFiler-input-choose-btn.blue:hover{
    background: #056340 !important;
    color: #ffffff !important;
}


.new-project {
    padding: 38px 0 38px;
    background: rgba(8, 96, 168, 1);
    background: -moz-linear-gradient(45deg, rgba(8, 96, 168, 1) 0%, rgba(0, 147, 226, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(8, 96, 168, 1)), color-stop(100%, rgba(0, 147, 226, 1)));
    background: -webkit-linear-gradient(45deg, rgba(8, 96, 168, 1) 0%, rgba(0, 147, 226, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(8, 96, 168, 1) 0%, rgba(0, 147, 226, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(8, 96, 168, 1) 0%, rgba(0, 147, 226, 1) 100%);
    background: linear-gradient(45deg, rgba(8, 96, 168, 1) 0%, rgba(0, 147, 226, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d2ec0', endColorstr='#0093e2', GradientType=1);
}

.single-new-project h3 {
    color: #fff;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}


.single-new-project a.slide-btn, .single-new-project a:active .slide-btn, .single-new-project a:focus .slide-btn {
    display: inline-block;
    padding: 12px 40px;
    background: #fff;
    color: #0094e2;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    transition: all ease 0.5s 0s;
    border-radius: 50px;
}